@import '../variables.scss';
.big-btn {
  display: block;
  text-align: center;
  margin: 0 15px 25px;
  padding: 12px 0;
  line-height: 22px;
  border-radius: 2px;
  text-decoration: none;
}
.money-btn {
  font-size: 2.3rem;
  background: $brand-color;
  color: $text-color;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .4);

  &.disabled {
    background: $brand-color-opaque;
  }
}
.share-btn {
  font-size: 2rem;
  color: $brand-color;
  border: 1px solid $brand-color;
}
.facebook-btn {
  margin: 0 0 10px;
  font-size: 1.9rem;
  color: #fff;
  background: $color-facebook;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .4);
}
.btn-text-sm {
  font-size: 1.4rem;
  color: $brand-color-lite
}
