@import '../variables.scss';
.draw-list {
}
.draw-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-grey-opaque;

  &:last-child {
    border-bottom: 0;
  }
}
.draw-item-body {
  position: relative;
  display: flex;
  height: 8rem;
  color: #fff;
  text-decoration: none;

  &.has-bet {
    background: $color-selection;
  }

  &.has-finished {
    background: $color-grey-opaque;
    &.waiting-winner {
      pointer-events: none; /* TODO - enable when details design is available*/
    }
    &.is-winner {
      background: $color-winner-opaque;
    }
  }

  .draw-item-aside {
    padding-left: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  $image-sz: 5.5rem;
  .draw-item-image {
    width: $image-sz;
    height: $image-sz;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      height: $image-sz;
      width: auto;
    }
  }

  $winner-image-sz: 2.2rem;
  .draw-item-winner-image {
    position: absolute;
    top: 10px; left: 15px;
    width: $winner-image-sz;
    height: $winner-image-sz;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      height: 2rem;
      width: auto;
      border-radius: 50%;
    }
  }
  .draw-item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
