@import '../variables.scss';
.summary-banner {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 0 15px;
  overflow: hidden;

  > * {
    line-height: 4rem;
    background: #fff;
  }

  .team-score-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}
.team-logo-small {
  width: 4rem;
  height: 4rem;
  &.left {
    border-radius: 2rem 0 0 2rem;
  }
  &.right {
    border-radius: 0 2rem 2rem 0;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 3rem;
  }
}
.text-small {
  font-size: 1.3rem;
  color: $color-grey-dark;
}
.team-score {
  width: 6.5rem;
  height: 6.5rem;
  line-height: 6.5rem;
  text-align: center;
  font-size: 2.4rem;
  border-radius: 50%;
  background: $color-grey-dark;
}
.summary-choices {
  margin: 0 20px 15px;
}
.summary-choice {
  display: flex;
  align-items: flex-end;

  .choice-text {
    flex-grow: 1;
    text-align: center;
    margin: 15px 15px 5px;
    border-bottom: 1px solid $color-grey;
  }

  .choice-check {
    width: 2.2rem;
    height: 2.2rem;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    &.selected {
      background-color: #fff;
      background-image: url('./images/icon-checkbox.svg');
      background-repeat: no-repeat;
      background-position: 4px 4px;
    }
  }

  &.invalid {
    .choice-text {
      border-bottom: 1px solid $color-error;
    }
    .choice-check.selected {
      background-color: $color-error;
      border-color: $color-error;
    }
  }
}

.error-text {
  font-size: 1.4rem;
  color: $color-grey-dark;
  text-align: center;
  .strong {
    margin-bottom: 5px;
    font-size: 1.9rem;
    color: $color-error;
  }
}
