@import '../variables.scss';
.players-list {
  width: 100%;
  .player-item {
    height: 8rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    border-top: 0.1rem solid var(--color-2);

    &.selected {
      background: $selected-color;
    }
  }
}
.player-number {
  min-width: 5.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $contrast-color;
  border-radius: 50%;
  font-size: 2.4rem;
  color: var(--color-3);
  margin-right: 1rem;
}
.player-info {
  flex-grow: 1;
}
.player-name {
  font-size: 1.7rem;
  color: var(--color-3);
}
.player-position {
  font-size: 1.2rem;
  color: var(--color-1);
}


.stats-spacer {
  height: 138px;
}
.stats-item {
  height: 81px;

  &.selected {
    background: url('../../static/images/icon-checked.svg') no-repeat;
    background-position: 15px 15px;
  }
}
