@import '../variables.scss';
.players-list {
  width: 100%;
  .player-item {
    height: 8rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    border-top: 0.1rem solid $color-grey-lite;

    &.selected {
      background: $color-selection;
    }
  }
}
.player-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem; height: 5.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  font-size: 2.4rem;
  color: $brand-color;
  background: #fff;
}
.player-info {
  flex-grow: 1;
}
.player-name {
  font-size: 1.7rem;
  color: $color-grey-dark;
}
.player-position {
  font-size: 1.2rem;
  color: $color-grey;
}


.stats-spacer {
  height: 138px;
}
.stats-item {
  height: 81px;

  &.selected {
    background: url('../../static/images/icon-checked.svg') no-repeat;
    background-position: 15px 14px;
  }
}
