/*============================================================================*/
/*RESET STYLES*/
/*============================================================================*/
.profile a {
	text-decoration: none;
}

.clear-side-indent {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-right: 0 !important;;
	margin-left: 0 !important;;
}

.clear-side-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.hide-header-elem {
	display: none;
}

div.row, ul.row {
	margin: 0;
}

button {
	border: none;
	outline: none;
}

.main-holder ::-webkit-input-placeholder {
	color: #ccc;
}

.main-holder :-moz-placeholder {
	color: #ccc;
}

.main-holder ::-moz-placeholder {
	color: #ccc;
}

.main-holder :-ms-input-placeholder {
	color: #ccc;
}

/*============================================================================*/
/*Reset styles END*/
/*============================================================================*/

html {
	height: 100%;
}

.navbar {
	border: none !important;
}

.lt-ie9 .navbar {
	position: fixed;
	top: 0;
}

html.front.top-full .navbar.main {
	background: #e5412d;
}

html .service-message {
	display: none;
}

html.no-touch .service-message {
	display: block;
}

.container-fluid {
	min-height: 100%;
	height: auto !important;
}

.navbar .panel {
	background: none;
	margin-bottom: 0;
}

.navbar .panel a {
	color: #fff;
	font-weight: bold;
}

.authentication {
	height: 40px;
	line-height: 40px;
	float: right;
}

.authentication * {
	padding: 0;
	margin: 0;
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.authentication .separator {
	margin: 0 3px;
	width: 2px;
	height: 12px;
	background-color: white;
}

.authentication a:hover {
	text-decoration: underline;
	color: white;
}

.not-logged .wrapper-search,
.not-logged .button,
.not-logged .panel,
.not-logged .profile-hover  {
	display: none;
}

* {
	max-height: 10000px;
}

body {
	margin: 0;
	color: #333;
	font: 12px/15px Arial, Helvetica, sans-serif;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	height: 100%;
}

img {
	border-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

a:active {
	background-color: transparent;
}

input,
textarea,
select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #000;
}

form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

.has-error.help-block,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
	color: #a94442 !important;
	font-weight: normal !important;
}

header, footer, article, section, nav, figure, aside {
	display: block;
}

figure {
	margin: 0;
	padding: 0;
}

input[type="image"] {
	padding: 0;
	border: none;
}

input[type=text], input[type=password], input[type=file], input[type=submit], textarea {
	-webkit-appearance: none;
	color: #000;
}

ul, ol, li, h1, h2, h3, h4, h5, h6 {
	border-style: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.toolbar:after,
#main:after {
	display: block;
	clear: both;
	content: '';
}

.wrap {
	max-width: 1080px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

#wrapper {
	position: relative;
}

#main .place-holder {
	text-align: center;
}

#main .place-holder img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
	margin: 0 auto;
}

.toolbar {
	background: #e4e4e4;
	color: #5e5e5e;
	padding: 0 8px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	z-index: 2000;
	border-bottom: 1px solid #aaaaab;
}

.recolored-toolbar {
	background: #d3171e;
}

.recolored-toolbar .additional-navigation > li > a {
	color: #fff;
	font: bold 14px Arial, Helvetica, sans-serif;
}

.toolbar .button-holder {
	overflow: visible;
	position: relative;
}

.toolbar .ico {
	float: left;
	margin: 2px 11px 0 0;
}

.toolbar .company-logo {
	float: left;
	height: 31px;
	margin-right: 16px;
	margin-top: 4px;
}

.toolbar .company-logo a {
	display: block;
	height: 100%;
}

.toolbar .company-logo a img {
	height: 100%;
}

.big-logo {
	display: block;
}

.small-logo {
	display: none;
}

.toolbar .ico img {
	vertical-align: top;
}

.toolbar .button {
	color: #d3171e;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	background: #f9c50f;
	float: left;
	padding: 0 29px 0 27px;
	font-family: Arial;
	margin: 5px 7px 0 0;
	line-height: 30px;
	height: 30px;
	-webkit-transition: background-color 0.25s ease 0s;
	-moz-transition: background-color 0.25s ease 0s;
	-o-transition: background-color 0.25s ease 0s;
	transition: background-color 0.25s ease 0s;
}

.toolbar .button:focus {
	text-decoration: none;
}

.toolbar .button:hover {
	text-decoration: none;
	background: #ffd739;
}

.toolbar .button.activated {
	background: none;
	color: #fff;
	text-shadow: none;
	text-decoration: none;
}

.toolbar .title {
	font-size: 16px;
	line-height: 18px;
	color: #93ac01;
	float: left;
	padding: 9px 0 0 6px;
}

.panel {
	float: right;
	padding: 0 1px 0 0;
	border: none;
}

.gmask-center .group a {
	color: #fff !important;
	text-decoration: none !important;
}

.container-fluid ul li a h3, .container-fluid ul li a h3 {
	font-family: Arial;
	color: #fff;
}

.wrapper-search {
	float: left;
	position: relative;
	margin: 5px 7px 0 0;
}

.wrapper-search .open-search {
	display: none;
	width: 20px;
	height: 20px;
	background: url(../../images/front/btn-open-search.png) no-repeat;
	margin: 3px 18px 0 0;
}

.wrapper-search .close-search {
	display: none;
	width: 15px;
	height: 15px;
	background: url(../../images/front/btn-close-search.png) no-repeat;
	float: left;
	position: absolute;
	right: 5px;
	top: 11px;
}


html body #content {
	padding: 0 0 180px !important;
}

html.no-touch body #content {
	padding: 80px 0 180px !important;
}

.service-message {
	text-align: center;
	padding: 6px;
	background: #393939;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	position: fixed;
	top: 41px;
	left: 0;
	width: 100%;
	z-index: 9999;
}

.service-message p {
	color: #fff;
	line-height: 30px;
	margin: 0;
}

.service-message a {
	display: inline-block;
	background: #e5412d;
	height: 30px;
	color: #fff;
	line-height: 30px;
	padding: 0 33px;
	margin-left: 47px;
	-webkit-transition: background-color 0.25s ease 0s;
	-moz-transition: background-color 0.25s ease 0s;
	-o-transition: background-color 0.25s ease 0s;
	transition: background-color 0.25s ease 0s;
}

.service-message a:hover {
	background: #DD301B;
	text-decoration: none;
}

.additional-navigation .info-amount {
	font-size: 17px;
	height: 44px;
	line-height: 40px;
	padding: 0 4px;
}

.additional-navigation .info-amount:after {
	display: none;
}

.additional-navigation li:hover .drop-down {
	display: block;
}

.drop-down .drop-down-holder {
	padding: 7px 13px 13px;
	border: 5px solid #c3c2c2;
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.additional-navigation .drop-down p {
	margin: 0 0 7px;
}

.drop-down:after {
	content: '';
	width: 25px;
	height: 18px;
	background: url(../../images/front/sprite-new.png) no-repeat -60px -16px;
	position: absolute;
	left: 50%;
	top: 8px;
	margin: 0 0 0 -12px;
}

.drop-down .social_list {
	margin: 0 -4px -12px -3px;
}

a.ctm_btn {
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	height: 33px;
	line-height: 34px;
	padding: 0 8px 0 29px;
	position: relative;
	text-decoration: none;
	text-shadow: #33508c 1px 1px 1px;
	text-transform: lowercase;
}

.ctm_btn.btn_pin {
	background: #cc2327 url(../../images/front/icon_pinterest.png) no-repeat 6px 50%;
	padding: 0 24px 0 45px;
}

.ctm_btn.btn_fb {
	background: #4760a2 url(../../images/front/facebookBtn.png) no-repeat 14px 50%;
	padding: 0 8px 0 30px;
}

.drop-down a.ctm_btn {
	display: block;
	text-align: center;
	margin: 0 0 12px;
}

.ctm_btn .bg_bot {
	background: url(../../images/front/buttonShad.png) no-repeat 1px 0;
	bottom: -6px;
	height: 5px;
	position: absolute;
	width: 50%;
}

.ctm_btn .leftBot {
	left: 0;
}

.ctm_btn .rightBot {
	background-position: 100% 0;
	right: 0;
}

.ctm_btn:hover {
	color: #fff;
	text-decoration: none;
}

.ctm_btn:hover .bg_bot {
	bottom: -5px;
	height: 15px;
	width: 45%;
}

.ctm_btn:hover .leftBot {
	background-position: 0 -5px;
	left: -3px;
}

.ctm_btn:hover .rightBot {
	background-position: 100% -5px;
	right: -3px;
}

.newsbar,
.offers {
	color: #fff;
	width: 100%;
	left: 0;
	position: fixed;
	top: 41px;
	background: #3d3d3d;
	z-index: 10000;
}

.newsbar ul,
.offers ul {
	list-style: none;
	margin: 0;
	padding: 15px 32px;
}

.newsbar ul li,
.offers ul li {
	list-style: none;
	margin: 0;
	padding: 0 13px;
	width: 250px;
	float: left;
}

.group:after {
	display: block;
	content: '';
	clear: both;
}


html.front.top-full .navbar:after {
	border-style: none;
}

html.front.top-full .navbar.main {
	height: auto;
}

body .modal-fancy .wrapper {
	max-width: 654px !important;
	margin: 0 auto;
}

.popup-holder {
	display: none;
}

#footer {
	margin-top: -62px;
	border-top: solid 1px #efefef;
	background-color: white !important;
	font-family: 'Roboto', sans-serif;
}

#footer .container {
	max-width: 1080px;
}

html.front #footer ul li {
	float: left;
	background-color: white;
}

html.front #footer ul li a {
	padding: 0;
	margin-right: 30px;
	font-size: 13px;
	color: #bbbbbb;
}

html.front #footer ul .active a {
	color: #e5412d;
}

html.front #footer ul li a:hover {
	text-decoration: underline;
}

.widget {
	margin: 0;
}

.fancybox-wrap {
	z-index: 10001;
}

.fancybox-wrap.custom-transition {
	-webkit-transition: all 0.3s ease-in-out !important;
	-moz-transition: all 0.3s ease-in-out !important;
	-o-transition: all 0.3s ease-in-out !important;
	-ms-transition: all 0.3s ease-in-out !important;
	transition: all 0.3s ease-in-out !important;
}

.fancybox-overlay {
	z-index: 10000;
}


/*============================================================================*/
/*								LOGIN AREA									==*/
/*============================================================================*/

body .modal-fancy .login-area h1,
body .modal-fancy .sign-up-area h1 {
	text-align: left;
	color: #4f4f4f;
	font-size: 38px;
	line-height: 38px;
	margin-top: 25px;
	margin-bottom: 33px;
	padding: 0 0 20px;
	border-bottom: 1px solid #efefef;
}

.login-area .password-forgot {
	margin-bottom: 8px;
}

.login-area .password-forgot label {
	margin: 0;
	margin-right: 11px;
}

.modal-fancy .login-area form {
	padding: 16px 14px;
}

body .modal-fancy .login-area .wrapper {
	max-width: 408px !important;
	margin: 0 auto;
}

body .modal-fancy form {
	margin-bottom: 11px;
}

body .modal-fancy .login-area .social-login {
	text-align: left;
}

body .modal-fancy .login-form .wrapper {
	max-width: 408px !important;
}

body .modal-fancy .wrapper .row {
	padding: 11px 0 0 16px;
}

body .modal-fancy .wrapper .row .checkbox {
	float: left;
}

body .sign-up .wrapper .row .checkbox {
	line-height: 18px;
	clear: both;
	margin-top: 0;
	margin-bottom: 5px;
}

body .sign-up .wrapper .row .checkbox label {
	overflow: visible;
	padding-left: 23px;
}

body .sign-up .wrapper .row .checkbox label i {
	margin-left: -23px;
}

body .sign-up .checkbox-custom i.checked {
	margin-left: -22px !important;
}

.sign-up .fb-sign-up {
	border-right: solid 1px #efefef;
}

body .modal-fancy .login-area .checkbox {
	margin-top: 8px;
}

.modal-fancy .sign-in.alt {
	margin-right: 3px;
	height: 33px;
	padding: 0 31px;
	font-size: 13px;
}

body .modal-fancy label,
.modal-fancy .troubles-request,
.sign-up .title {
	font-size: 12px;
	color: #7c7c7c;
}

.sign-up .troubles-request {
	clear: both;
}

.sign-up .title.strong {
	display: inline-block;
	margin-bottom: 14px;
}

body .modal-fancy .sign-up-area .form-title,
body .modal-fancy .sign-up-area .form-title p {
	margin-top: 0 !important;
}

body .modal-fancy .sign-up-area .form-title p {
	margin-top: 0 !important;
}

body .modal-fancy input[type="text"], body .modal-fancy input[type="password"] {
	font-size: 13px;
	height: auto;
	margin-bottom: 10px;
	padding: 5px 9px;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
	-moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
	-webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	background: #fff;
}
input[type=text], input[type=password], input[type=file], input[type=submit], textarea {
	-webkit-appearance: none;
	color: #000;
}

body .modal-fancy p {
	margin: 10px 0 0;
}

.modal-fancy.forgot-password .sign-in.alt {
	float: none;
	margin: 0 auto;
	height: 45px;
	line-height: 45px;
	padding: 0 56px 0 0;
	font-size: 13px;
	background-color: #e5412d;
	background-size: 20px;
	background-position: 28px 17px;
}

.fake-btn {
	cursor: pointer;
}

.modal-fancy .switch-wrapp {
	display: none;
}

.modal-fancy.forgot-password .sign-in.alt .align-wrapp {
	padding-left: 62px;
	display: table;
	height: 46px;
	padding-top: 0;
	padding-bottom: 0;
}

.modal-fancy.forgot-password .sign-in.alt .align-wrapp span {
	vertical-align: middle;
	display: table-cell;
}

.modal-fancy.forgot-password .sign-in.alt i:before {
	position: absolute;
	top: 10px;
	left: 20px;
	color: white;
}

.modal-fancy.forgot-password .sign-in.alt:hover {
	background-color: #c63a28;
}

.forgot-password .row {
	text-align: center;
	padding-left: 0 !important;
}

body .modal-fancy .social-login.alt.fb i:before {
	left: 15px;
}

body .modal-fancy .social-login.alt.gg i:before {
	left: 13px;
}

body .modal-fancy .social-login.fb.alt {
	padding-left: 50px;
	height: 49px;
	margin-bottom: 20px;
}

body .modal-fancy .gg.alt {
	background-color: #424242;
	padding-top: 0;
	padding: 0 0 0 50px;
}

body .modal-fancy .gg.alt span {
	display: block;
}

body .modal-fancy .gg.alt:hover {
	background-color: #676767;
}

.install-wrap {
	text-align: center;
}

.modal-fancy .install-wrap p {
	margin: 18px 0 14px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: bold;
}

.install-wrap a {
	margin: 0 auto;
	display: table;
	vertical-align: middle;
	padding-left: 45px;
	padding-right: 45px;
	font-family: 'Roboto', sans-serif;
	background-color: #e5412d;
	color: white;
}

.install-wrap a:hover {
	text-decoration: none;
	background-color: #dd301b;
}


.install-wrap a .align-wrapp {
	height: 46px;
	vertical-align: middle;
	display: table-cell;
}
/*============================================================================*/
/*CREDITS PAGE*/
/*============================================================================*/

.main-top {
	padding: 25px 0;
	margin-bottom: 3px;
}

.main-top h1 {
	color: #4f4f4f;
	font-size: 38px;
	line-height: 38px;
	font-family: Arial;
	margin-bottom: 18px;
	padding-bottom: 10px;
	border-bottom: 1px solid #efefef;
}

.main-top .text-area {
	color: #fefefe;
	font-size: 16px;
	line-height: 18px;
}

.main-top .text-area h2 {
	color: #fefefe;
	font-size: 23px;
	line-height: 23px;
	font-weight: bold;
	margin-bottom: 5px;
}

.main-top .text-area p {
	font-size: 16px;
	line-height: 16px;
}

/*============================================================================*/
/*PAGE NOT FOUND*/
/*============================================================================*/

.main-holder .n-found {
	text-align: center;
}

.main-holder .n-found h1 {
	text-align: center;
	margin-bottom: 26px;
	font-size: 38px;
}

.main-holder .n-found img {
	display: block;
	margin: 0 auto 30px;
}

.main-holder .n-found p {
	margin-bottom: 35px;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	text-align: center;
	color: #4f4f4f;
}

.main-holder .n-found a {
	display: inline-block;
	padding: 20px 15px;
	margin-bottom: 40px;
	background-color: #f9c50f;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	text-decoration: none;
	color: #000000;
	text-transform: lowercase;
	text-align: center;
	border-bottom: solid 4px #e4981f;
}

.main-holder .n-found a:hover {
	background-color: #ffd739;
}

body .n-found .ie-true,
.ie body .n-found .not-ie{
	display: none;
}

.ie body .n-found .ie-true {
	display: inline-block;
}

/*============================================================================*/
/*LANDING PAGE*/
/*============================================================================*/
.landing-page .service-message a {
	background-color: #f9c50f;
	color: #000000;
}

.landing-page .service-message a:hover {
	background-color: #ffd739;
}


.landing-page h2,
.landing-page h3 {
	clear: both;
	overflow: hidden;
	padding-left: 37px;
	text-align: left;
}

.landing-page h2 {
	margin-bottom: 40px;
}
.landing-page h3 {
	margin-bottom: 26px;
}


.landing-page h2 i:before,
.landing-page h3 i:before {
	font-size: 18px;
	line-height: 22px;
	color: #e5412d;
}

.main-holder .landing-page a {
	text-transform: inherit;
	padding-left: 43px;
	padding-right: 43px;
}

.landing-page .instructions li p {
	font-size: 18px;
	line-height: 23px;
}

.landing-page .thumbnail {
	padding: 0;
	border: none;
}

.landing-page .shop p {
	font-size: 18px;
	line-height: 23px;
	text-align: left;
}

.landing-page .retailers {
	clear: both;
	margin-bottom: 78px;
}

.landing-page .retailers li {
	margin-bottom: 15px;
}

.landing-page .retailers li span {
	display: block;
	height: 88px;
	line-height: 88px;
	border: solid 1px #d9d9d9;

}

.landing-page .retailers img {
	display: inline;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

/*============================================================================*/
/*LOADERS*/
/*============================================================================*/
.page-loader {
	position: absolute;
	background-color: white;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99999;
}

.page-loader td {
	text-align: center;
	vertical-align: middle;
}

.page-loader td img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.pop-up-loader-head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1002;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pop-up-loader-head td {
	text-align: center;
	vertical-align: middle;
}

.pop-up-loader-body {
	margin-left: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1001;
	display: none;
}

/*============================================================================*/
/*MEDIA STYLES*/
/*============================================================================*/

@media all and (max-width: 990px) {
	html.front.top-full .navbar.main {
		position: relative !important;
	}

	html.no-touch .navbar.main {
		position: absolute !important;
	}

	html.no-touch body .service-message {
		display: none !important;
	}

	html.no-touch body #content,
	html #content {
		padding: 0 0 180px !important;
	}

	.login-area,
	.sign-up-area {
		padding-top: 25px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.additional-navigation .info-amount {
		display: none;
	}

	.additional-navigation .offers-bar-tab {
		margin-right: 0;
	}

	.user-holder {
		padding-top: 80px;
	}

	.newsbar.show, .offers.show {
		position: absolute;
	}

	.service-message,
	html.no-touch .service-message {
		display: none;
	}

	.offers-wrapper {
		display: none;
		background: #fff;
	}

	.aside {
		float: none;
		width: 100%;
	}

	.content-area {
		max-width: inherit;
	}

	.search {
		display: none;
	}

	.wrapper-search .open-search {
		display: block;
	}

	.offers-btn {
		display: none;
	}

	.navbar.active .search {
		display: block;
	}

	.navbar.active .wrapper-search {
		display: block;
		padding-right: 25px;
		background: #fff;
	}

	.active .wrapper-search .open-search {
		display: none;
	}

	.navbar.active .additional-navigation {
		display: none;
	}

	.navbar.active .clicker {
		display: none;
	}

	.navbar.active .close-search {
		display: block;
	}

	.big-logo {
		display: none;
	}

	.small-logo {
		display: block;
	}

	.user-page {
		padding: 12px 10px 0;
	}

	.main-top h1,
	body .modal-fancy .login-area h1,
	body .modal-fancy .sign-up-area h1 {
		margin-top: 0;
		font-size: 30px;
		line-height: 34px;
	}

	.main-top.wrap,
	.main-holder.wrap {
		margin-right: 10px !important;
		margin-left: 10px !important;
		overflow: hidden;
	}

	.service-message {
		display: none;
	}

	html .main-top {
		padding: 25px 0 15px;
		margin-bottom: 3px;
	}

	/*Page not found*/
	.main-holder .n-found h1 {
		font-size: 36px;
		line-height: 40px;
	}

	.main-holder .n-found p {
		font-size: 24px;
	}

	.main-holder .n-found a {
		font-size: 26px;
		line-height: 30px;
	}

}

@media all and (max-width: 670px) {

	/*Page not found*/
	.main-holder .n-found h1 {
		font-size: 34px;
		line-height: 38px;
	}

	.main-holder .n-found p {
		font-size: 22px;
	}

	.main-holder .n-found a {
		font-size: 24px;
		line-height: 28px;
	}
}

@media all and (max-width: 480px) {

	/*Page not found*/
	.main-holder .n-found h1 {
		font-size: 28px;
		line-height: 32px;
	}

	.main-holder .n-found p {
		font-size: 17px;
	}

	.main-holder .n-found a {
		font-size: 19px;
		line-height: 23px;
	}

}

@media all and (max-width: 400px) {

	/*Page not found*/
	.main-holder .n-found h1 {
		font-size: 23px;
		line-height: 27px;
	}

	.main-holder .n-found p {
		font-size: 16px;
	}

	.main-holder .n-found a {
		font-size: 17px;
		line-height: 21px;
		padding: 13px 15px;
	}
}
