/* Colors for site settings */
/* Header */
html.front.top-full .navbar.main {
  background-color: #00369c;
}
.autocomplete-suggestions strong {
  color: #00369c;
}
.toolbar .button {
  color: #ffffff;
  background-color: #00369c;
}
.toolbar .button:hover {
  background-color: #00295c;
}
.number {
  background-color: #ffd739;
  color: #00369c;
  border-color: #00369c;
}
.additional-navigation li a.activatedItem,
.additional-navigation li a:hover {
  background-color: #00295c;
}
.profile-hover .statistics .earned *,
.profile-hover .statistics .donated * {
  color: #00369c;
}
.service-message a {
  background-color: #00369c;
}
.service-message a:hover {
  background-color: #0b318c;
}
/******** Cookies ********/
.cookies-block p {
  color: #00369c;
}
.cookies-block a {
  background-color: #00369c;
}
.cookies-block a:hover {
  background-color: #0b318c;
}
/******************************/
/******** SIGN UP PAGE ********/
/******************************/
.featherlight .featherlight-heading {
  background-color: #00369c;
}
.fancybox-close {
  background: url(../../images/front/everton/btn-close.png) no-repeat;
}
.wrapper-title {
  background-color: #00369c;
}
.form-title span {
  color: #00369c;
}
body .modal-fancy .gg {
  background-color: #6b6b6b;
}
body .modal-fancy .gg:hover {
  background-color: #4c4c4c;
}
.install-wrap a {
  background-color: #00369c;
}
.install-wrap a:hover {
  background-color: #0b318c;
}
/******************************/
/********* LOGIN PAGE *********/
/******************************/
.modal-fancy .sign-in.alt {
  background-color: #00369c;
}
.modal-fancy .sign-in.alt:hover {
  background-color: #0b318c;
}
/******************************/
/**** FORGOT PASSWORD PAGE ****/
/******************************/
.modal-fancy.forgot-password .sign-in.alt {
  background-color: #00369c;
}
.modal-fancy.forgot-password .sign-in.alt:hover {
  background-color: #0b318c;
}
/******************************/
/******** PROFILE PAGE ********/
/******************************/
.save-img {
  background-color: #00369c;
}
.save-img:hover {
  background-color: #0b318c;
}
.profile-name a {
  color: #00369c;
}
.profile-name a:hover {
  color: #0b318c;
}
.profile-name-adaptive a {
  color: #00369c;
}
.profile-name-adaptive a:hover {
  color: #0b318c;
}
.member-info .date {
  color: #00369c;
}
.member-info .save-img {
  background-color: #00369c;
}
.member-info .save-img:hover {
  background-color: #0b318c;
}
.profile-statistic .popover-title {
  color: #00369c;
}
.profile-statistic .donations .sum {
  color: #00369c;
}
.profile-statistic .available {
  background-color: #00369c;
}
.profile-statistic .available:hover {
  background-color: #0b318c;
}
.profile-content .widget.widget-tabs .drop-down-menu {
  background-color: #00369c;
}
.profile-content .widget.widget-tabs .drop-down-menu:hover {
  background-color: #0b318c;
}
/* Profile page tab profile */
.main-holder .profile-content .big-btn div a,
.main-holder .profile-content .big-btn div button {
  background-color: #00369c;
}
.main-holder .profile-content .big-btn div a:hover,
.main-holder .profile-content .big-btn div button:hover {
  background-color: #0b318c;
}
.profile-content .resent-activity h2 i::before {
  color: #00369c;
}
.profile-content .widget.widget-tabs > .widget-head ul li.active a i:before {
  color: #00369c;
}
.resent-act-dif-color {
  color: #00369c;
}
/* Profile page tab gift to a friend */
.profile-content .send-sum input {
  color: #00369c;
}
.profile-content .search-block .email a {
  background-color: #00369c;
}
.profile-content .search-block .email a:hover {
  background-color: #0b318c;
}
.profile-content .result-count {
  background-color: #00369c;
}
.profile-content .send-to {
  background-color: #00369c;
}
.profile-content .send-to:hover {
  background-color: #0b318c;
}
/* Profile page tab redeem credits */
.profile-content .redemption-code .code {
  color: #00369c;
}
.profile-content .store-btn {
  background-color: #00369c;
}
.profile-content .store-btn:hover {
  background-color: #0b318c;
}
/* Profile page tab redeem on load */
.profile-content .total {
  color: #00369c;
}
/* Profile page tab settings */
.profile-content .send-settings {
  background-color: #00369c;
}
.profile-content .send-settings:hover {
  background-color: #0b318c;
}
.profile-statistic li {
  background-color: #00369c;
}
.datepicker .datepicker-days thead tr .dow,
.datepicker .datepicker-days tbody tr .day.active,
.datepicker-months table tr td span.active,
.datepicker-years tr td .year.active {
  background-color: #00369c !important;
}
.profile-content .checkbox-custom i.checked {
  color: #00369c;
}
.send-sum .jq-selectbox__select-text,
.profile-content .send-sum .jq-selectbox__dropdown li {
  color: #00369c !important;
}
/******************************/
/******** CREDITS PAGE ********/
/******************************/
.filters-block h3 i::before {
  color: #00369c;
}
.advertisement {
  background-color: #00369c;
}
.advertisement .invite {
  background-color: #ffd739;
}
.advertisement .invite:hover {
  background-color: #eec738;
}
.aside-list a {
  color: #00369c;
}
.aside-list .active a,
.aside-list a:hover {
  background-color: #00369c;
  border: 1px solid #00369c;
}
.jq-selectbox__select-text {
  background-color: #00369c;
}
.jq-selectbox__dropdown li:hover {
  background-color: #f4f4f4;
}
.jq-selectbox__dropdown {
  border: 1px solid #00369c;
}
.jq-selectbox__select-text {
  border: 1px solid #00369c;
}
.product-item .text-area a {
  background-color: #00369c;
}
.product-item .text-area a:hover {
  background-color: #0b318c;
}
/******************************/
/******* DASHBOARD PAGE *******/
/******************************/
.separator-sign-in {
  background-color: #00369c;
}
.dashboard-content .profile-statistic .purchases .sum {
  color: #00369c;
}
.dashboard-content .top-rewards > a {
  background-color: #00369c;
}
.dashboard-content .top-rewards > a:hover {
  background-color: #0b318c;
}
.dashboard-content .top-rewards h3 i:before {
  color: #00369c;
}
.dashboard-content .resent-act-dif-color:hover {
  color: #0b318c;
}
.user-description .joined span {
  color: #00369c;
}
.progress-item.available {
  background: #00369c;
}
.progress-item.donated .count {
  color: #0b318c;
}
.profile-content .widget-tabs .widget-head .active a i {
  color: #00369c;
}
/******************************/
/***** SEARCH RESULT PAGE *****/
/******************************/
.search-result-count {
  background-color: #00369c;
}
/******************************/
/******* PAGE NOT FOUND *******/
/******************************/
.main-holder .n-found a {
  background-color: #ffd739;
  border-color: #e4981f;
}
.main-holder .n-found a:hover {
  background-color: #eec738;
}
/******************************/
/******* LANDING PAGE *******/
/******************************/
.landing-page h2 i:before,
.landing-page h3 i:before {
  color: #00369c;
}
.lotteryFootballBG .progress-bar-triple .progress-fill {
  background: #00369c;
}
.lotteryFootballBG .progress-bar-triple span {
  background: #00369c;
}
.lotteryFootballBG .progress-bar-triple span:nth-of-type(2).full {
  background: #00369c;
}
.lotteryFootballBG .progress-bar-triple span:nth-of-type(3) {
  color: #00369c;
}
.lotteryFootballBG .progress-bar-triple span:nth-of-type(3).full {
  background: #00369c;
}
.lotteryFootballBG.animated .buttonBlue,
.lotteryFootballBG.animated .buttonBlue:active,
.lotteryFootballBG.animated .buttonBlue:focus {
  background-color: #00369c;
  border-bottom-color: #001336;
}
.lotteryFootballBG.animated .buttonBlue:hover {
  background-color: #001336;
  border-bottom-color: #001336;
}
.lotteryFootballBG {
  background: url('../../images/front/everton/bg-team-training.png') no-repeat;
  background-size: cover;
  background-position: center center;
}
.lotteryFootballBG.animated {
  background: url('../../images/front/everton/bg-team-training-saturated.png') no-repeat;
  background-size: cover;
  background-position: center center;
}
.lotteryFootballBG.animated .prize-image-holder:after {
  background: url("../../images/front/everton/everton_logo_square.png") no-repeat;
}
/******************************/
/******* LANDING PAGE *******/
/******************************/
.contact-area .send-contacts {
  background-color: #00369c;
}
.contact-area .send-contacts:hover {
  background-color: #0b318c;
}
/******************************/
/**** Conversions pop-up  *****/
/******************************/
.conversions .sum {
  color: #00369c;
}
.conversions .redeem {
  color: #00369c;
}
.conversions .redeem:hover {
  color: #0b318c;
}
/******************************/
/********** FOOTER ************/
/******************************/
html.front #footer ul .active a {
  color: #00369c;
}
.glyphicons.primary i:before,
.glyphicons-social.primary i:before {
  color: #00369c;
}
/******************************/
/**********  MISC  ************/
/******************************/
a.ctm_btn {
  text-shadow: #0b318c 1px 1px 1px;
}
.gallery-holder .pagination a {
  color: #00369c;
}
.amazon-redirect .product-item .text-area h4 {
  color: #00369c;
}
@media all and (max-width: 990px) {
  .drop-down-menu {
    background-color: #00369c;
  }
  .drop-down-menu:hover {
    background-color: #0b318c;
  }
  .profile-content .widget.widget-tabs .drop-down-menu-content li a {
    color: #00369c !important;
  }
  .profile-content .widget.widget-tabs .drop-down-menu-content li a:hover {
    color: #0b318c;
  }
  .credits-content .aside-list a:hover {
    color: #0b318c;
  }
  .credits-content .aside-list .active a {
    color: #00369c;
  }
}
