/* Colors for site settings */
/* Header */
html.front.top-full .navbar.main {
  background-color: #e5412d;
}
.autocomplete-suggestions strong {
  color: #e5412d;
}
.toolbar .button {
  color: #e5412d;
  background-color: #f9c50f;
}
.toolbar .button:hover {
  background-color: #ffd739;
}
.number {
  background-color: #f9c50f;
  color: #e5412d;
  border-color: #e5412d;
}
.additional-navigation li a.activatedItem,
.additional-navigation li a:hover {
  background-color: #a2090f;
}
.profile-hover .statistics .earned *,
.profile-hover .statistics .donated * {
  color: #e5412d;
}
.service-message a {
  background-color: #e5412d;
}
.service-message a:hover {
  background-color: #dd301b;
}
.cookies-block p {
  color: #e5412d;
}
.cookies-block a {
  background-color: #e5412d;
}
.cookies-block a:hover {
  background-color: #dd301b;
}
/******************************/
/******** SIGN UP PAGE ********/
/******************************/
.fancybox-close {
  background: url(../../images/front/liverpool/btn-close.png) no-repeat;
}
.wrapper-title {
  background-color: #e5412d;
}
.form-title span {
  color: #e5412d;
}
body .modal-fancy .gg {
  background-color: #e5412d;
}
body .modal-fancy .gg:hover {
  background-color: #dd301b;
}
.install-wrap a {
  background-color: #e5412d;
}
.install-wrap a:hover {
  background-color: #dd301b;
}
/******************************/
/********* LOGIN PAGE *********/
/******************************/
.modal-fancy .sign-in.alt {
  background-color: #e5412d;
}
.modal-fancy .sign-in.alt:hover {
  background-color: #dd301b;
}
/******************************/
/**** FORGOT PASSWORD PAGE ****/
/******************************/
.modal-fancy.forgot-password .sign-in.alt {
  background-color: #e5412d;
}
.modal-fancy.forgot-password .sign-in.alt:hover {
  background-color: #dd301b;
}
/******************************/
/******** PROFILE PAGE ********/
/******************************/
.save-img {
  background-color: #e5412d;
}
.save-img:hover {
  background-color: #dd301b;
}
.profile-name a {
  color: #e5412d;
}
.profile-name a:hover {
  color: #dd301b;
}
.profile-name-adaptive a {
  color: #e5412d;
}
.profile-name-adaptive a:hover {
  color: #dd301b;
}
.member-info .date {
  color: #e5412d;
}
.member-info .save-img {
  background-color: #e5412d;
}
.member-info .save-img:hover {
  background-color: #dd301b;
}
.profile-statistic .popover-title {
  color: #e5412d;
}
.profile-statistic .donations .sum {
  color: #e5412d;
}
.profile-statistic .available {
  background-color: #e5412d;
}
.profile-statistic .available:hover {
  background-color: #dd301b;
}
.profile-content .widget.widget-tabs .drop-down-menu {
  background-color: #e5412d;
}
.profile-content .widget.widget-tabs .drop-down-menu:hover {
  background-color: #dd301b;
}
/* Profile page tab profile */
.main-holder .profile-content .big-btn div a,
.main-holder .profile-content .big-btn div button {
  background-color: #e5412d;
}
.main-holder .profile-content .big-btn div a:hover,
.main-holder .profile-content .big-btn div button:hover {
  background-color: #dd301b;
}
.profile-content .resent-activity h2 i::before {
  color: #e5412d;
}
.profile-content .widget.widget-tabs > .widget-head ul li.active a i:before {
  color: #e5412d;
}
.resent-act-dif-color {
  color: #e5412d;
}
/* Profile page tab gift to a friend */
.profile-content .send-sum input {
  color: #e5412d;
}
.profile-content .search-block .email a {
  background-color: #e5412d;
}
.profile-content .search-block .email a:hover {
  background-color: #dd301b;
}
.profile-content .result-count {
  background-color: #e5412d;
}
.profile-content .send-to {
  background-color: #e5412d;
}
.profile-content .send-to:hover {
  background-color: #dd301b;
}
/* Profile page tab redeem credits */
.profile-content .redemption-code .code {
  color: #e5412d;
}
.profile-content .store-btn {
  background-color: #e5412d;
}
.profile-content .store-btn:hover {
  background-color: #dd301b;
}
/* Profile page tab redeem on load */
.profile-content .total {
  color: #e5412d;
}
/* Profile page tab settings */
.profile-content .send-settings {
  background-color: #e5412d;
}
.profile-content .send-settings:hover {
  background-color: #dd301b;
}
.datepicker .datepicker-days thead tr .dow,
.datepicker .datepicker-days tbody tr .day.active,
.datepicker-months table tr td span.active,
.datepicker-years tr td .year.active {
  background-color: #e5412d !important;
}
.profile-content .checkbox-custom i.checked {
  color: #e5412d;
}
.send-sum .jq-selectbox__select-text,
.profile-content .send-sum .jq-selectbox__dropdown li {
  color: #e5412d !important;
}
/******************************/
/******** CREDITS PAGE ********/
/******************************/
.filters-block h3 i::before {
  color: #e5412d;
}
.advertisement {
  background-color: #e5412d;
}
.advertisement .invite {
  background-color: #f9c50f;
}
.advertisement .invite:hover {
  background-color: #ffd739;
}
.aside-list a {
  color: #e5412d;
}
.aside-list .active a,
.aside-list a:hover {
  background-color: #e5412d;
  border: 1px solid #e5412d;
}
.jq-selectbox__select-text {
  background-color: #e5412d;
}
.jq-selectbox__dropdown li:hover {
  background-color: #f4f4f4;
}
.jq-selectbox__dropdown {
  border: 1px solid #e5412d;
}
.jq-selectbox__select-text {
  border: 1px solid #e5412d;
}
.product-item .text-area a {
  background-color: #e5412d;
}
.product-item .text-area a:hover {
  background-color: #dd301b;
}
/******************************/
/******* DASHBOARD PAGE *******/
/******************************/
.separator-sign-in {
  background-color: #e5412d;
}
.dashboard-content .profile-statistic .purchases .sum {
  color: #e5412d;
}
.dashboard-content .top-rewards > a {
  background-color: #e5412d;
}
.dashboard-content .top-rewards > a:hover {
  background-color: #dd301b;
}
.dashboard-content .top-rewards h3 i:before {
  color: #e5412d;
}
.dashboard-content .resent-act-dif-color:hover {
  color: #dd301b;
}
/******************************/
/***** SEARCH RESULT PAGE *****/
/******************************/
.search-result-count {
  background-color: #e5412d;
}
/******************************/
/******* PAGE NOT FOUND *******/
/******************************/
.main-holder .n-found a {
  background-color: #f9c50f;
  border-color: #e4981f;
}
.main-holder .n-found a:hover {
  background-color: #ffd739;
}
/******************************/
/******* LANDING PAGE *******/
/******************************/
.landing-page h2 i:before,
.landing-page h3 i:before {
  color: #e5412d;
}
/******************************/
/******* LANDING PAGE *******/
/******************************/
.contact-area .send-contacts {
  background-color: #e5412d;
}
.contact-area .send-contacts:hover {
  background-color: #dd301b;
}
/******************************/
/**** Conversions pop-up  *****/
/******************************/
.conversions .sum {
  color: #e5412d;
}
.conversions .redeem {
  color: #e5412d;
}
.conversions .redeem:hover {
  color: #dd301b;
}
/******************************/
/********** FOOTER ************/
/******************************/
html.front #footer ul .active a {
  color: #e5412d;
}
.glyphicons.primary i:before,
.glyphicons-social.primary i:before {
  color: #e5412d;
}
@media all and (max-width: 990px) {
  .drop-down-menu {
    background-color: #e5412d;
  }
  .drop-down-menu:hover {
    background-color: #dd301b;
  }
  .profile-content .widget.widget-tabs .drop-down-menu-content li a {
    color: #e5412d !important;
  }
  .profile-content .widget.widget-tabs .drop-down-menu-content li a:hover {
    color: #dd301b;
  }
  .credits-content .aside-list a:hover {
    color: #dd301b;
  }
  .credits-content .aside-list .active a {
    color: #e5412d;
  }
}
