@font-face {
    font-family: 'Helvetica';
    src: url(f/helvetica-roman-webfont.eot);
    src: local('Helvetica'), url(f/helvetica-roman-webfont.ttf) format('truetype');
}

@font-face {
    font-family: 'Helvetica-bold';
    src: url(f/helvetica-bold-webfont.eot);
    src: local('Helvetica-bold'), url(f/helvetica-bold-webfont.ttf) format('truetype');
}  
