@import '../variables.scss';
.quiz-teams {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .versus {
    padding: 0 1.5rem;
    font-size: 1.7rem;
    color: var(--color-1);
    text-transform: uppercase;
  }
}
.team-container {
  width: 10.5rem;
  height: 10.5rem;
  background: $contrast-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 0 rgba(0, 0, 0, .3);
  img {
    width: 8rem;
  }
}
.result-draw {
  font-size: 1.4rem;
  color: var(--color-1);
  text-transform: uppercase;
  text-align: center;
}
.result-draw-icon {
  width: 7.5rem;
  height: 7.5rem;
  background: $contrast-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 0.7rem;
  box-shadow: 0 4px 0px rgba(0, 0, 0, .3);
  img {
    width: 100%;
  }
}

/*
 Stats
*/
.quiz-stats {
  background: rgba(0, 0, 0, .3);
  transform: translateY(100%);
  transition: transform .3s ease;

  &.reveal {
    transform: translateY(0%);
  }
}
