@import '../variables.scss';
.quiz-teams {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .versus {
    padding: 0 1.5rem;
    font-size: 1.7rem;
    color: var(--color-1);
    text-transform: uppercase;
  }
}
.team-container {
  width: 10.5rem;
  height: 10.5rem;
  background: $contrast-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 0 rgba(0, 0, 0, .3);
  img {
    width: 8rem;
  }
}
.result-draw {
  font-size: 1.4rem;
  color: var(--color-1);
  text-transform: uppercase;
  text-align: center;
}
.result-draw-icon {
  width: 7.5rem;
  height: 7.5rem;
  background: $contrast-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 0.7rem;
  box-shadow: 0 4px 0px rgba(0, 0, 0, .3);
  img {
    width: 100%;
  }
}

/*
 Stats
*/
.quiz-stats {
  background: rgba(0, 0, 0, .3);
  transform: translateY(-100%);
  transition: transform .3s ease;
  overflow: hidden;

  &.reveal {
    transform: translateY(0%);
  }
}
.cols-3 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  .col {
    position: relative;
    flex: 0 1 auto;
    width: 25%;
    transform: translateY(100%);
    transition: transform .4s ease;
  }
}

$bar-width: 2px;
$icon-sz: 30px;
.stats-bar {
  height: 100%;
  margin-top: $icon-sz;
  font-size: 1.7rem;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    top: 55px; bottom: 0;
    left: 50%;
    width: $bar-width;
    margin-left: -$bar-width/2;
    background: #fff;
  }

  &.winner:before {
    content: '( ! )'; /*TODO - icon*/
    display: inline-block;
    position: absolute;
    top: 0; left: 0;
    height: $icon-sz;
    line-height: $icon-sz;
    width: 100%;
    text-align: center;
  }
}
