@import '../variables.scss';
@import '../utils.scss';

.quiz-teams {
  width: 100%;
  min-height: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .versus {
    padding: 0 1.5rem;
    font-size: 1.7rem;
    color: $color-grey;
    text-transform: uppercase;
  }
}

.select-btn {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 0 rgba(0, 0, 0, .3);

  &.selected {
    /*background: $color-selection;*/
  }
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.5rem;
  height: 10.5rem;
  img {
    width: 8rem;
    border-radius: 50%;
  }
}
.result-draw {
  font-size: 1.4rem;
  color: $color-grey;
  text-transform: uppercase;
  text-align: center;
}
.result-draw-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 0.7rem;
  overflow: hidden;
  img {
    width: 100%;
  }
}
