@import '../variables.scss';
@import '../utils.scss';

.quiz-teams {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .versus {
    padding: 0 1.5rem;
    font-size: 1.7rem;
    color: var(--color-1);
    text-transform: uppercase;
  }
}

.select-btn {
  background: $contrast-color;
  border-radius: 50%;
  box-shadow: 0 4px 0 rgba(0, 0, 0, .3);

  &.selected {
    background: $selected-color;
  }
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.5rem;
  height: 10.5rem;
  img {
    width: 8rem;
  }
}
.result-draw {
  font-size: 1.4rem;
  color: var(--color-1);
  text-transform: uppercase;
  text-align: center;
}
.result-draw-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 0.7rem;
  overflow: hidden;
  img {
    width: 100%;
  }
}

/*
 Stats
*/
.quiz-stats {
  background: rgba(0, 0, 0, .3);
  transform: translateY(-100%);
  transition: transform .3s ease;
  overflow: hidden;

  &.reveal {
    transform: translateY(0%);
  }
}


$bar-width: 2px;
$icon-sz: 54px;
.stats-bar {
  height: 100%;
  margin-top: $icon-sz;
  font-size: 1.7rem;
  line-height: 3rem;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    top: 85px; bottom: 0;
    left: 50%;
    width: $bar-width;
    margin-left: calc(-$bar-width/2);
    background: #fff;
  }

  &.winner:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0; left: 50%;
    margin-left: calc(-$icon-sz/2);
    height: $icon-sz;
    width: $icon-sz;
    background: url('../../static/images/icon-checked.svg') no-repeat;
  }
}
