@import '../variables.scss';
@import '../QuizBet/bet.scss';
.draw-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.draw-details {
  display: flex;
  align-items: center;
}

$image-sz: 10rem;
.draw-details-image {
  width: $image-sz;
  height: $image-sz;
  margin: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #fff;
  img {
    width: $image-sz;
  }
}
