@import '../variables.scss';

.fixture-list {

}

.fixture-item {
  display: flex;
  flex-direction: column;
}

/*TODO - section-header*/
.fixture-item-header {
  background: $color-grey;
  color: $color-grey-lite;
  height: $section-header-h;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  &.is-collapsed {
    height: 0.1rem;
    background: $color-grey-opaque;
  }
}

.fixture-item-body {
  display: flex;
  height: 8rem;
  color: #fff;
  text-decoration: none;

  .fixture-item:last-child & {
    border-bottom: 1px solid $color-grey-opaque;
  }

  &.completed {
    background: $color-selection;
    pointer-events: none;
  }

  .fixture-item-team-icons {
    width: 7.6rem;
    padding-left: 1.5rem;
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fixture-item-team {
    width: 4rem;
    background: #fff;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
      position: relative;
    }
    img {
      width: 3rem;
    }
  }
  .fixture-item-team-overlap {
    margin-left: -0.8rem;
  }
  .fixture-item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
