@media all and (min-width:900px) {
    h3 {
        font-size: 15px;
    }
    h1 {
        font-size: 30px;
    }
    .greyBox {
        margin-top: 10px;
        padding: 20px;
        width: auto;
    }
    .draw-wrapper {
		min-height: 100%;
    }
    .draw-container {
        position: relative;
        height: 100%;
        max-width: 1080px;
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
    .buttonLarge {
        font-size: 26px;
        font-weight: 600;
        padding: 30px;
    }
    .historyBack {
    	display: none;
    }
    .article,
    .earningOptions ul li,
    #connectFBBox {
        opacity: 1;
    }
    .showDesktopBlock {
        display: inline-block;
    }
    .showMobileBlock {
        display: none !important;
    }
    .staticTop {
        margin-top: 20px;
    }
    .staticTop .countdown {
        float: left;
        width: 41%;
        max-height: 108px;
    
        display: table;
}
    .countdown > div > div {
        padding: 18px 0;
    }
    .countdown > div > div span {
        font-size: 14px;
    }
    .countdown > div > div span.numbers {
        font-size: 32px;
    }
    .staticTop .showDesktopBlock {
        float: right;
        width: 58%;
        text-align: right;
        margin-top: 5px;
        max-height: 108px;
        height: 108px;
        overflow: hidden;
    }
    .staticTop .showDesktopBlock .greyBox{
        float: none;
        width: 68%;
        margin-left: 6px;
    }
    .staticTop .showDesktopBlock .articleImage{
        width: 30%;
        /*float: none;*/
    }
    .circularChartsGroup {
        position: relative;
        float: left;
        width: 42%;
    }
    .circularChartsGroup h1{
        margin-top: 40px;
    }
    .circularChartsGroup .circularChart {
        width: 60%;
        padding-top: 60%;
        margin: 15px 0;
    }
    .optionsGroup {
        float: right;
        width: 58%;
    }
    .optionsGroup .earningOptions ul li .button {
        width: 81%;
		font-size: 15px;
    }
    .optionsGroup .earningOptions ul li .tickets, .greyBox .tickets {
        width: 12%;
    }
    .optionsGroup .greyBox {
        padding: 30px;
    }
    .optionsGroup .greyBox p {
        color: #bbbbbb;
    }
    .optionsGroup h3 {
        font-size: 26px;
    }
	.optionsGroup .thinLink h3 {
		font-size: 20px;
	}
    .optionsGroup .greyBox .button {
        margin: 30px 0;
        min-width: 350px;
    }

	.simpleLink, .simpleLink:active, .simpleLink:focus {
		padding: 0;
	}
	.footer, .push {
		height: 40px;
	}
    .footer {
		padding: 0 20px;
    }
    .footer .pull-right a{
        color: #aaaaaa;
        font-size: 14px;
        margin-left: 20px;
        vertical-align: bottom;
        display: inline-block;
        margin-bottom: -10px;

    }

    .footer .pull-right a:hover{
        color: #eeeeee;
    }
	#aboutContainer {
		max-width: 920px;
		margin-left: -10px;
	}
	.loading-holder {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
	}
	.sectionLayout > .prize-image-holder {
		max-width: 35%;
		float: left;
		max-height: 280px;
		overflow: hidden;
		border: 4px solid whitesmoke;
		margin: 40px 34px;
		box-sizing: border-box;
	}
	.sectionLayout > .greyBox {
		position: relative;
		z-index: -1;
		padding-left: 42%;
		min-height: 290px;
		text-align: left;
	}
	.sectionLayout > .greyBox:after {
		position: absolute;
		right: 10px;
		bottom: 10px;
		content: "";
		width: 50px;
		height: 50px;
		background: url('../images/everton_logo.png') no-repeat;
		background-size: cover;
	}
	.sectionDrawFinished > .winnerHolder {
		max-width: 15%;
		float: left;
		border: 6px solid whitesmoke;
		margin: 40px 70px;
		box-sizing: border-box;
	}
	.sectionDrawFinished > .greyBox {
		padding: 20px;
		text-align: left;
		min-height: 140px;
		padding-top: 60px;
	}
	.sectionDrawFinished > .marginTopText {
		float: none;
		clear: both;
	}
	.sectionLayout.sectionDrawFinished > .prize-image-holder,
	.sectionLayout.sectionEnter > .prize-image-holder,
	.sectionLayout.sectionEnterExisting > .prize-image-holder {
		max-width: 60%;
		float: none;
		border: 4px solid whitesmoke;
		margin: 20px 0;
		box-sizing: border-box;
		display: inline-block;
		max-height: initial;
	}
	.sectionDrawFinished .button {
		max-width: 60%;
	}
	.sectionWinnerSteps .winner-steps-left-side {
		width: 39%;
		float: left;
		padding-right: 10px;
	}
	.sectionWinnerSteps .winner-steps-left-side > img {
		margin-top: 20px;
		box-sizing: border-box;
		border: 4px solid #364158;
	}
	.sectionWinnerSteps .winner-steps-right-side {
		width: 59%;
		float: right;
		padding-left: 10px;
	}
	.sectionWinnerSteps .winner-steps-right-side #show-details-btn {
		margin-top: 100px;
	}
	.sectionWinnerSteps .winner-steps-right-side > img {
		box-sizing: border-box;
		border: 4px solid #364158;
	}
	.sectionEnter .greyBox {
		padding: 20px;
		min-height: initial;
		z-index: 1;
	}
	.sectionEnter .greyBox:after {
		display: none;
	}
	.sectionEnter .greyBox #aboutContainer {
		max-width: none;
		margin-left: 0;
	}
	.sectionEnterExisting .greyBox {
		padding-left: 380px;
		min-height: 230px;
	}
	.sectionEnterExisting .imageHolder {
		float: left;
		position: relative;
		z-index: 2;
		margin-left: 20px;
	}
}

@media all and (min-width: 1025px) {
	.countdown > div {
		width: 24%;
	}
}
