/*****   CUSTOM FONTS   *****/
@font-face {
    font-family: 'ev-helvetica';
    src: url('../fonts/helvetica-neue-light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/helvetica-neue-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/helvetica-neue-light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/helvetica-neue-light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/helvetica-neue-light.svg#helvetica') format('svg'); /* Legacy iOS */
    font-weight: 200;
}
@font-face {
    font-family: 'ev-helvetica';
    src: url('../fonts/helvetica-neue-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/helvetica-neue-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/helvetica-neue-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/helvetica-neue-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/helvetica-neue-regular.svg#helvetica') format('svg'); /* Legacy iOS */
    font-weight: 400;
}
/*****   CUSTOM FONTS END  *****/
/*****   GLOBAL STYLES   *****/
* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #1c2028;

    margin: 0;
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p,a,span,div {
    font-family: ev-helvetica, "Helvetica Neue","Helvetica", "Calibri", "Arial", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;

    color: #ffffff;
    text-transform: uppercase;
}
h3 {
    font-size: 16px;
}

h1 {
    font-size: 22px;
    font-weight: 800;
    margin-top: 8px;
}

.condensedFont {
    font-weight: 600;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.pull-none {
    float: none;
}
img {
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
}
.subtopic {
    font-size: 12px;
}
.color-aqua {
    color: #7ebae9;
}
.color-gold {
    color: #bda234;
}
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.draw-wrapper {
    width: 100%;
    text-align: center;
}
.showDesktop {
    display: none;
}
.showMobile {
    display: inline-block;
}
.marginBottom {
    margin-bottom: 20px;
}
.muted {
    opacity: 0.4;
    cursor: default;
}
/*****   GLOBAL STYLES END   *****/

.draw-container {
    display: inline-block;
    max-width: 600px;
    width: 100%;
/*    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;*/

    margin: 0;
    padding: 0 4px;
}
.header {
    width: 100%;
    padding: 15px 0;
}
.footer {
    width: 100%;
    padding: 15px 0;
    padding-right: 8px;
    /*text-align: right;*/
}
.sectionLayout {

}

.marginTopText {
    margin-top: 15px;
    padding: 0 8px;
}
.sectionLayout > img{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.greyBox {
    margin-top: 10px;
    padding: 10px;
    background-color: #364158;
    width: 100%;
}

.thinLink {
    text-transform: none;
    font-weight: 100;
    text-decoration: none;
    font-size: 16px;
}
.thinLink:hover {
    color: #eee;
}

.article {
    margin-top: 10px;
    margin-bottom: -15px;
    opacity: 0;
    width: 100%;
}
.article > div{
    width: 50%;
    height: 100%;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}
.article > .articleImage {
    /*background: url('http://pestorestaurants.co.uk/wp-content/uploads/2012/07/Everton.jpeg') no-repeat;*/
    background: url('../images/everton-training.png') no-repeat;
    background-size: cover;
    float: left;
    overflow: hidden;
}

.article > .greyBox {
    text-align: left;
    float: right;
}
.article > .greyBox h3 {
    /*margin-bottom: 15px;*/
}

.earningOptions {
    width: 100%;
    margin: 0;
    margin-top: 10px;
}
.earningOptions ul {
    list-style: none;
    list-style-position: inside;

    margin: 0;
    padding: 0;
    width: 100%;
}
.earningOptions ul li {
    display: inline-block;
    margin: 0;
    width: 100%;
    opacity: 0;
}
.earningOptions ul li .listArrow {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    background: url('../images/linked-list-style.png') no-repeat;
    background-position: left center;
    background-size: cover;
    height: 65px;
    float: left;
    margin-top: -4px;
    margin-right: 5px;
}
.earningOptions ul li .tickets, .greyBox .tickets {
    display: inline-block;
    background-color: #293140;
    color: #7bb3e5;
    font-size: 10px;
    width: 20%;
    vertical-align: middle;
    height: 55px;
    padding: 5px;
    margin-right: 5px;
}
.greyBox .tickets {
    margin-left: 10px;
    width: 22%;
}
.optionsGroup .greyBox .button {
    margin: 10px 0;
}
.earningOptions ul li .tickets span, .greyBox .tickets span{
    font-size: 20px;
    font-weight: 700;
    color: #7bb3e5;
}
.earningOptions ul li .button, .greyBox .button {
    width: 70%;
    vertical-align: middle;
    font-size: 15px;
    padding: 0 5px;
    line-height: 50px;
    margin-top: 0;
}
.earningOptions ul li.optionDisabled .tickets {
    color: #888;
    background: rgba(88, 88, 88, 0.45);
}
.earningOptions ul li.optionDisabled .tickets span{
    color: #888;
}

.scoreHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);

    display: none;
}

.score {
    font-size: 1px;
    opacity: 0;
}

.circleDaysSection {
    opacity: 0;
}

/*****   POPUP STYLES   *****/
.everton-amazing-popups .everton-popup-clearfix:before,
.everton-amazing-popups .everton-popup-clearfix:after {
    content:"";
    display:table;
}
.everton-amazing-popups .everton-popup-clearfix:after {
    clear:both;
}
.everton-amazing-popups .everton-popup-clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
/* END OF RESET */

.everton-amazing-popups .everton-popup-container {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.everton-amazing-popups .everton-popup-container .everton-popup {
    background-color: #ffffff;
    max-width: 650px;
    max-height: 90%;
    position: relative;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    box-shadow: 0 10px 25px rgba(0,0,0,.5);
}
@media all and (max-width: 900px) {
    .everton-amazing-popups .everton-popup-container .everton-popup {
        max-width: 90%;
    }
}
.everton-amazing-popups .everton-popup-container .everton-popup .everton-popup-header .everton-popup-close {
    float: right;
    display: block;
    text-decoration: none;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 34px;
    font-size: 30px;
}
.everton-amazing-popups .everton-popup-container .everton-popup .everton-popup-body {
    padding: 5px 24px 34px 30px;
}

.everton-amazing-popups .everton-popup-container .everton-popup .everton-popup-body {
    text-align: center;
}

.everton-amazing-popups .everton-popup-container .everton-popup .everton-popup-body h2{
    font-weight: 800;
    color: #222222;
}
.everton-amazing-popups .everton-popup-container .everton-popup .everton-popup-body .formError{
    color: red;
    display: block;
    text-align: left;
    line-height: 46px;
    padding: 0 20px;
    border: 1px solid red;
    background-color: #ffc3c3;
    text-transform: none;
    margin: 20px 0;
}
.everton-amazing-popups .everton-popup-container .everton-popup .everton-popup-body .popupForm {

}
.everton-amazing-popups .everton-popup-container .everton-popup .everton-popup-body .popupForm label{
    display: block;
    color: #222222;
    text-align: left;
    font-weight: 600;
    text-transform: none;
    margin-top: 25px;
    margin-bottom: 2px;
}
.everton-amazing-popups .everton-popup-container .everton-popup .everton-popup-body .popupForm input:not([type="submit"]){
    display: block;
    color: #222222;
    min-height: 46px;
    font-size: 14px;
    width: 100%;
    padding: 0 20px;
    line-height: 46px;
    border: 0;
    background-color: #eeeeee;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.everton-amazing-popups .everton-popup-container .everton-popup .everton-popup-body .popupForm input[type=submit]{
    color: #ffffff;
    margin-top: 25px;
    cursor: pointer;
}
.inputError {
    box-shadow: inset 0 0 0 2px #f00;
}




/*****   POPUP STYLES END  *****/
/*****   COUNTDOWN STYLES   *****/
.countdown {
    text-align: center;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}
.countdown > div {
    display: inline-block;
    width: 25%;
}
.countdown > div:not(:last-child) {
    padding-right: 4px;
}
.countdown > div:not(:first-child) {
    padding-left: 4px;
}
.countdown > div > div {
    background-color: #364158;
    padding: 4px 0;
}
.countdown > div > div span {
    color: #7ebae9;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.countdown > div > div span.numbers {
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
}
/*****   COUNTDOWN STYLES END  *****/

/*****   BUTTONS  *****/
.button {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    text-shadow: 2px 0 3px rgba(0,0,0,0.75);
}

.buttonLarge {
    border-bottom: 10px solid;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}
.buttonDefault {
    border-style: hidden;
    border-bottom: 5px solid;
    font-size: 20px;
    font-weight: 100;
    padding: 16px;
}

.buttonBlue {
    background-color: #00369c;
    border-bottom-color: #012a85;
}
.buttonBlue:hover,
.buttonBlue:active,
.buttonBlue:focus {
    background-color: #012a85;
    border-bottom-color: #012a85;
}
.buttonLightBlue {
    background-color: #3782d7;
    border-bottom-color: #1c68bd;
}
.buttonLightBlue:hover,
.buttonLightBlue:active,
.buttonLightBlue:focus {
    background-color: #1c68bd;
    border-bottom-color: #1c68bd;
}
.buttonYellow {
    background-color: #bda234;
    border-bottom-color: #7a640c;
}
.buttonYellow:hover,
.buttonYellow:active,
.buttonYellow:focus {
    background-color: #7a640c;
    border-bottom-color: #7a640c;
}

.buttonStroke {
    border: 2px solid #bbbbbb;
    color: #bbbbbb;
}
.buttonStroke:hover,
.buttonStroke:active,
.buttonStroke:focus {
    border: 2px solid #364158;
    background: #bbbbbb;
    color: #222222;
    text-shadow: none;
}
.buttonDisabled {
    border: 2px solid #555;
    color: #888;
    background: rgba(88, 88, 88, 0.45);
    cursor: default;
    text-shadow: none;
}
.insteadButtonText {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}
/*****   BUTTONS END   *****/


/*****   CIRCLES CIRCLES   *****/
.circularChart {
    position: relative;
    width: 75%;
    padding-top: 75%;
    display: inline-block;
    margin: 15px 0;
}
.circleAbsolute {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);

    z-index: 1;
}
#overallProgressCircle {
    background: #364158;
    width: 100%;
    padding-top: 100%;
}
.newCircleDummy {
    width: 94%;
    padding-top: 94%;
    background: #1c2028;
}
#daysProgressCircle {
    width: 96%;
    padding-top: 96%;
    background: #364158;
}
.innerCircleDummy {
    width: 96%;
    padding-top: 96%;
    background: #1c2028;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.circleCenterHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    z-index: 10;
    width: 100%;
}
.circleToggles {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    z-index: 10;
    width: 100%;
    list-style: none;
    list-style-position: outside;
}
.circleToggles li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #364158;
    border-radius: 50%;
    margin: 0 2px;
}
.circleToggles li.active {
    background: #364158;
}
.circleSection .circleTicketsSection {
    margin-bottom: 5px;
    margin-top: -18px;
}
.circleSection .circleTicketsSection p{
    line-height: 32px;
}
.circleSection .circleTicketsSection .circlePercentage{
    font-size: 46px;
    font-weight: 200;
}

.circleSection .circleDaysSection p {
    color: #bda234;
    font-size: 16px;
    display: inline-block;
}
#infoDays .circleDaysSection{
    margin-top: 6px;
}


.circularChart .circularPortrait{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -20px;
    margin-right: -30px;
}
.circularChart .circularPortrait .portraitHolder {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #364158;
}
.circularChart .circularPortrait .portraitHolder img{
    max-width: 70px;
    max-height: 70px;
}
#infoTickets, #infoDays {
    display: none;
}
/*****   CIRCLES CIRCLES END  *****/

/*****   ANIMATIONS  *****/
.rotateInViewStart {
    transform: scale(0);
    transform-origin: center top;
    transition: transform 0.3s ease-in;
    -ms-transform: scale(0);
    -ms-transform-origin: center top;
    -ms-transition: transform 0.3s ease-in;
    -moz-transform: scale(0);
    -moz-transform-origin: center top;
    -moz-transition: transform 0.3s ease-in;
    -webkit-transform: scale(0);
    -webkit-transform-origin: center top;
    -webkit-transition: transform 0.3s ease-in;
}
.rotateInViewFinish {
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
}
/*****   ANIMATIONS END *****/

/*****   MEDIA QUERIES  *****/
@media all and (min-width:430px) and (max-width:585px) {
    .earningOptions ul li .button {
        width: 73%;
    }
}
@media all and (min-width:585px) {
    .earningOptions ul li .button {
        width: 75%;
    }
}
/*****   MEDIA QUERIES END *****/

#dashboard {
    display: none;
}