/*****   CUSTOM FONTS   *****/
@font-face {
    font-family: 'ev-helvetica';
    src: url('../fonts/helvetica-neue-light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/helvetica-neue-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/helvetica-neue-light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/helvetica-neue-light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/helvetica-neue-light.svg#helvetica') format('svg'); /* Legacy iOS */
    font-weight: 200;
}
@font-face {
    font-family: 'ev-helvetica';
    src: url('../fonts/helvetica-neue-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/helvetica-neue-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/helvetica-neue-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/helvetica-neue-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/helvetica-neue-regular.svg#helvetica') format('svg'); /* Legacy iOS */
    font-weight: 400;
}
/*****   CUSTOM FONTS END  *****/
/*****   GLOBAL STYLES   *****/
* {
    box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #1c2028;

    margin: 0;
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p,a,span,div {
    font-family: ev-helvetica, "Helvetica Neue","Helvetica", "Calibri", "Arial", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;

    color: #ffffff;
    text-transform: uppercase;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}

#target {

}

h3 {
    font-size: 16px;
}
.no-transform {
	text-transform: none;
}
.infoTextNoTransform .no-transform {
	text-align: left;
	padding: 8px;
}
.infoTextNoTransform .no-transform + .no-transform {
	margin-top: 4px;

}

h1 {
    font-size: 22px;
    font-weight: 800;
    margin-top: 8px;
}

.condensedFont {
    font-weight: 600;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.pull-none {
    float: none;
}
img {
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
	max-width: 100%;
}
.subtopic {
    font-size: 12px;
}
.color-aqua {
    color: #7ebae9;
}
.color-gold {
    color: #bda234;
}
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.draw-wrapper {
    width: 100%;
	min-height: initial;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
    text-align: center;
}
.showDesktop {
    display: none;
}
.showMobile {
    display: inline-block;
}
.marginBottom {
    margin-bottom: 20px;
}
.muted {
    opacity: 0.4;
    cursor: default;
}
.historyBack {
	width: 50px;
	position: absolute;
	top: -2px;
	left: 10px;
	text-decoration: none;
	font-size: 60px;
	font-weight: 100;
	font-family: sans-serif;
	color: #7ebae9;
}
.infoTextToCopy {
	display: none;
}
.showMoreAboutPrize {
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: url('../images/read-more.png') no-repeat;
	background-size: 50%;
	background-position: center;
	position: absolute;
	bottom: 12px;
	right: 30px;
}
.fullwidth {
	width: 100%;
}
/*****   GLOBAL STYLES END   *****/

.draw-container {
    display: inline-block;
    max-width: 600px;
    width: 100%;
/*    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;*/

    margin: 0;
    padding: 0 4px;
}
.header {
    width: 100%;
    padding: 15px 0;
}
.footer {
    padding: 15px 10px;
	margin: 0 auto;
	max-width: 1080px;
	text-align: center;
}
.footer, .push {
	height: 40px;
}

.sectionLayout {

}
.noVAlign {
	vertical-align: initial;
}
.imageHolder img{
	display: inline-block;
	max-width: 500px;
	margin: 30px 0;
}
.marginTopText {
    margin-top: 15px;
    padding: 0 8px;
}
.sectionLayout > img{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.relative {
	position: relative;
}
#aboutContainer {
	position: relative;
	display: inline-block;
	max-width: 230px;
	text-align: left;
	margin-left: -50px;
}
.greyBox {
    margin: 10px 0;
    padding: 10px;
    background-color: #364158;
    width: 100%;
}

.thinLink {
    text-transform: none;
    font-weight: 100;
    text-decoration: none;
    font-size: 16px;
}
.thinLink:hover {
    color: #eee;
}

.article {
    margin-top: 10px;
    margin-bottom: -15px;
    opacity: 0;
    width: 100%;
}
.article > div{
    width: 50%;
    height: 100%;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}
.article > .articleImage {
    float: left;
    overflow: hidden;
}
.article.showMobile > .greyBoxMobile {

}
.article > .articleImage img {
    width: 100%;
    height: auto;
    /*max-height: 108px;*/
}
.article > .greyBox {
    text-align: left;
    float: right;
}
.article > .greyBox h3 {
	text-align: center;
}

.earningOptions {
    width: 100%;
    margin: 0;
    margin-top: 10px;
}
.earningOptions ul {
    list-style: none;
    list-style-position: inside;

    margin: 0;
    padding: 0;
    width: 100%;
}
.earningOptions ul li {
    display: inline-block;
    margin: 0;
    width: 100%;
    opacity: 0;
}
.earningOptions ul li .listArrow {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    background: url('../images/linked-list-style.png') no-repeat;
    background-position: left center;
    background-size: cover;
    height: 65px;
    float: left;
    margin-top: -4px;
    margin-right: 5px;
}
.earningOptions ul li .tickets, .greyBox .tickets {
    display: inline-block;
    background-color: #293140;
    color: #7bb3e5;
    font-size: 10px;
    width: 20%;
    vertical-align: middle;
    height: 55px;
    padding: 5px;
    margin-right: 5px;
}
.greyBox .tickets {
    margin-left: 10px;
    width: 22%;
}
.optionsGroup .greyBox .button {
    margin: 10px 0;
}
.earningOptions ul li .tickets span, .greyBox .tickets span{
    font-size: 20px;
    font-weight: 700;
    color: #7bb3e5;
}
.earningOptions ul li .button, .greyBox .button {
    width: 70%;
    vertical-align: middle;
    font-size: 14px;
    padding: 0 5px;
    line-height: 20px;
    margin-top: 0;
    text-align: center;
}
.earningOptions ul li .button > span, .greyBox .button > span {
	display: inline-block;
	height: 100%;
}
.earningOptions ul li .button > span > span, .greyBox .button > span > span {
	display: table-cell;
	vertical-align: middle;
	height: 53px;
}
.earningOptions ul li.optionDisabled .tickets {
    color: #888;
    background: rgba(88, 88, 88, 0.45);
}
.earningOptions ul li.optionDisabled .tickets span{
    color: #888;
}

.scoreHolder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);

    display: none;
}

.score {
    font-size: 1px;
    opacity: 0;
}

.circleDaysSection {
    opacity: 0;
}
.curOptionBox {
    display: none;
}
/*****   POPUP STYLES   *****/
.everton-amazing-popups .everton-popup-clearfix:before,
.everton-amazing-popups .everton-popup-clearfix:after {
    content:"";
    display:table;
}
.everton-amazing-popups .everton-popup-clearfix:after {
    clear:both;
}
.everton-amazing-popups .everton-popup-clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
/* END OF RESET */
.everton-amazing-popups, .popup-holder {
	display: none;

}
.everton-popup-container .everton-popup .everton-popup-header {
	width: 100%;
	height: 0;
	background: transparent;
	line-height: 50px;
	padding-left: 20px;
	font-size: 18px;
}


.everton-popup-container .everton-popup .everton-popup-header .everton-popup-close {
	float: right;
	display: block;
	text-decoration: none;
	color: #364158;
	width: 30px;
	height: 30px;
	line-height: 23px;
	font-size: 30px;
	background: rgba(168, 168, 168, 0.6);
	padding: 0 6px;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: 7px;
}
.everton-popup-container .everton-popup .everton-popup-body {
	padding: 28px 24px 34px 30px;
    text-align: center;
	background: #364158;
}

.everton-popup-container .everton-popup .everton-popup-body .terms,
.everton-popup-container .everton-popup .everton-popup-body .terms a{
	text-decoration: none;
	color: #bbb;
	font-weight: 400;
	margin: 15px 0 0;
	font-size: 13px;
}
.everton-popup-container .everton-popup .everton-popup-body .terms a:hover {
	text-decoration: underline;
	color: #eeeeee;
}
.everton-popup-container .everton-popup .everton-popup-body h2{
    font-weight: 800;
    color: #fff;
	font-size: 1.5em;
}
.everton-popup-container .everton-popup .everton-popup-body h2.popup-heading{
	font-size: 24px;
	line-height: 30px;
	margin: 22px 0;
}
.everton-popup-container .everton-popup .everton-popup-body .formError{
    color: red;
    display: block;
    text-align: left;
    line-height: 46px;
    padding: 0 20px;
    border: 1px solid red;
    background-color: #ffc3c3;
    text-transform: none;
    margin: 20px 0;
}
.has-error {
	color: #DB7C7A;;
}
.alert {
	padding: 15px;
	margin: 20px 0;
	border: 1px solid transparent;
	border-radius: 0;
}
.alert h4 {
	margin-top: 0;
	color: inherit;
}
.alert .alert-link {
	font-weight: bold;
}
.alert > p,
.alert > ul {
	margin-bottom: 0;
}
.alert-danger > div > ul {
	color: #BE2B28;
	font-weight: 600;
	list-style: disc;
	text-transform: lowercase;
}
.alert-success > div > ul {
	list-style: none;
	padding: 0;
	color: #fff;
}

.alert > div > ul {

	margin: 15px 0 0;
}
.alert > p + p {
	margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
	padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
}
.alert-success {
	color: #3c763d;
	background-color: rgba(173, 221, 153, 0.65);
	border-color: #98D366;
}
.alert-success hr {
	border-top-color: #c9e2b3;
}
.alert-success .alert-link {
	color: #2b542c;
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-info hr {
	border-top-color: #a6e1ec;
}
.alert-info .alert-link {
	color: #245269;
}
.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-warning hr {
	border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
	color: #66512c;
}
.alert-danger {
	color: #a94442;
	background-color: rgba(239, 200, 200, 0.67);
	border-color: #DA6376;
	text-align: left;
}
.alert-danger hr {
	border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
	color: #843534;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .5;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}

.everton-popup-container .everton-popup .everton-popup-body .popupForm label{
    display: block;
    color: #6EAFFA;;
    text-align: left;
    font-weight: 600;
    text-transform: none;
    margin-top: 25px;
    margin-bottom: 2px;
}
.everton-popup-container .everton-popup .everton-popup-body .popupForm input:not([type="submit"]){
    display: block;
    color: #222222;
    min-height: 46px;
    font-size: 14px;
    width: 100%;
    padding: 0 20px;
    /*line-height: 46px;*/
    line-height: normal;
    border: 0;
    background-color: #eeeeee;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.everton-popup-container .everton-popup .everton-popup-body .popupForm input[type=submit]{
    color: #ffffff;
    margin-top: 25px;
    cursor: pointer;
}

.inputError {
    box-shadow: inset 0 0 0 2px #f00;
}

.fancybox-overlay {
	background: rgba(0,0,0,0.5);
}


/* Chrome, Safari, Opera */
@-webkit-keyframes connectSuccess {
	from {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-moz-keyframes connectSuccess {
	from {
		-moz-transform: scale(0);
		opacity: 0;
	}
	to {
		-moz-transform: scale(1);
		opacity: 1;
	}
}
/* Standard syntax */
@keyframes connectSuccess {
	0% {
		transform: scale(0);
		opacity: 0;
		display: inline-block;
	}
	100% {
		transform: scale(1);
		display: inline-block;
		opacity: 1;
	}
}
.connectSuccessMessage {
	display: none;
	font-weight: 900;
	line-height: 30px;
	margin-bottom: 30px;
	font-size: 26px;
	opacity: 1;
}
.connectSuccessMessageAnimated {
	display: inline-block;
	-webkit-animation: connectSuccess 0.8s 1;
	-moz-animation: connectSuccess 0.8s 1;
	-ms-animation: connectSuccess 0.8s 1;
	animation: connectSuccess 0.8s 1;
}
.connectSuccessMessageAnimationFinished {
	transform: scale(1);
	display: inline-block;
}
/*****   POPUP STYLES END  *****/
/*****   COUNTDOWN STYLES   *****/
.countdown {
    text-align: center;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}
.countdown > div {
    display: inline-block;
    width: 20%;
}
.countdown > div:not(:last-child) {
    padding-right: 4px;
}
.countdown > div:not(:first-child) {
    padding-left: 4px;
}
.countdown > div > div {
    background-color: #364158;
    padding: 2px 0;
}
.countdown > div > div span {
    color: #7ebae9;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.countdown > div > div span.numbers {
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
}
/*****   COUNTDOWN STYLES END  *****/

/*****   BUTTONS  *****/
.button {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    text-shadow: 2px 0 3px rgba(0,0,0,0.75);
    cursor: pointer;
}

.buttonLarge {
    border-bottom: 10px solid;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}
.buttonDefault {
    border-style: hidden;
    border-bottom: 5px solid;
    font-size: 20px;
    font-weight: 100;
    padding: 16px;
    height: 55px;
}

.buttonBlue,
.buttonBlue:active,
.buttonBlue:focus {
    background-color: #00369c;
    border-bottom-color: #012a85;
}
.buttonBlue:hover {
    background-color: #012a85;
    border-bottom-color: #012a85;
}
.buttonLightBlue,
.buttonLightBlue:active,
.buttonLightBlue:focus {
    background-color: #3782d7;
    border-bottom-color: #1c68bd;
}
.buttonLightBlue:hover {
    background-color: #1c68bd;
    border-bottom-color: #1c68bd;
}
.buttonYellow,
.buttonYellow:active,
.buttonYellow:focus {
    background-color: #bda234;
    border-bottom-color: #7a640c;
}
.buttonYellow:hover {
    background-color: #7a640c;
    border-bottom-color: #7a640c;
}

.buttonStroke,
.buttonStroke:active,
.buttonStroke:focus {
    border: 2px solid #bbbbbb;
    color: #bbbbbb;
}
.buttonStroke:hover {
    border: 2px solid #364158;
    background: #bbbbbb;
    color: #222222;
    text-shadow: none;
}
.buttonDisabled {
    border: 2px solid #555;
    color: #888;
    background: rgba(88, 88, 88, 0.45);
    cursor: default;
    text-shadow: none;
}
.insteadButtonText {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}
/*****   BUTTONS END   *****/


/*****   CIRCLES CIRCLES   *****/
.circularChart {
    position: relative;
    width: 75%;
    padding-top: 75%;
    display: inline-block;
    margin: 15px 0;
}
.circleAbsolute {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);

    z-index: 1;
}
#overallProgressCircle {
    background: #364158;
    width: 100%;
    padding-top: 100%;
}
.newCircleDummy {
    width: 94%;
    padding-top: 94%;
    background: #1c2028;
}
#daysProgressCircle {
    width: 96%;
    padding-top: 96%;
    background: #364158;
}
.innerCircleDummy {
    width: 96%;
    padding-top: 96%;
    background: #1c2028;
}

.circleAbsolute svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    z-index: -1;
}
.circleAbsolute svg path{
	position: relative;
}
.circleCenterHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    z-index: 10;
    width: 100%;
}
.circleToggles {
    display: inline-block;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-left: -20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    z-index: 10;
    width: 100%;
    list-style: none;
    list-style-position: outside;
}
.circleToggles li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #364158;
    border-radius: 50%;
    margin: 0 2px;
}
.circleToggles li.active {
    background: #364158;
}
.circleSection .circleTicketsSection {
    margin-bottom: 5px;
    margin-top: -18px;
}
.circleSection .circleTicketsSection p{
    line-height: 32px;
}
.circleSection .circleTicketsSection .circlePercentage{
    font-size: 46px;
    font-weight: 200;
}

.circleSection .circleDaysSection p {
    color: #bda234;
    font-size: 16px;
    display: inline-block;
}
#infoDays .circleDaysSection{
    margin-top: 6px;
}


.circularChartsGroup .circularPortrait{
    position: absolute;
    bottom: -10px;
    right: -20px;
}
.circularChartsGroup .circularPortrait canvas{
    position: relative;
}
.circularChartsGroup .circularPortrait .portraitHolder {
    overflow: hidden;
    max-width: 80px;
    max-height: 80px;
}
.circularChartsGroup .circularPortrait .portraitHolder canvas {
	width: 100%;
	height: auto;
}
.circularChartsGroup .circularPortrait .portraitHolder img{
	border-radius: 50%;
}
#infoTickets, #infoDays {
    display: none;
}
/*****   CIRCLES CIRCLES END  *****/


/***** ADDITIONAL PAGES *****/
.sectionLayout > .extraPage {
	margin-top: 20px;
	padding: 0 15px;
}
.sectionLayout > .extraPage > h1{
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 30px;
}
.sectionLayout > .extraPage > h2{
	font-size: 18px;
	font-weight: 900;
	line-height: 24px;
	margin-bottom: 30px;
}
.sectionLayout > .extraPage > img{
	margin-bottom: 30px;
}
.sectionLayout > .extraPage > p{
	font-size: 16px;
	text-transform: none;
	color: #71a5cf;
}
.sectionLayout > .additionalContent{
	margin-top: 20px;
	padding: 0 15px;
}
.sectionLayout > .additionalContent > h1{
	font-size: 36px;
}
.sectionLayout > .additionalContent > div{
	margin: 30px 0;
}
.sectionLayout > .additionalContent > div > h3{
	font-weight: 900;
	font-size: 20px;
	text-transform: none;
	text-align: left;
	margin-bottom: 10px;
}
.sectionLayout > .additionalContent > div > h3 ~ h3 {
	margin-top: 30px;
}
.sectionLayout > .additionalContent > div p{
	color: #7ebae9;
	text-align: left;
	text-transform: none;
	font-size: 15px;
	margin-bottom: 20px;
}
.sectionLayout > .additionalContent > div ul > li,
.sectionLayout > .additionalContent > div ol > li {
	color: #7ebae9;
	text-align: left;
	text-transform: none;
	font-size: 15px;
}
.sectionLayout > .additionalContent > div ul,
.sectionLayout > .additionalContent > div ol {
	color: #7ebae9;
	text-align: left;
	text-transform: none;
	padding: 0;
	list-style-position: inside;
}

.sectionLayout .winnerHolder {
	display: inline-block;
	max-width: 200px;
	margin: 15px 0;
	border-radius: 50%;
	overflow: hidden;
	border: 8px solid #364158;
}
.sectionLayout .winnerHolder img{
	width: 100%;
	height: auto;
}
/****************************/


/*****   ANIMATIONS  *****/
.rotateInViewStart {
    transform: scale(0);
    transform-origin: center top;
    transition: transform 0.3s ease-in;
    -ms-transform: scale(0);
    -ms-transform-origin: center top;
    -ms-transition: transform 0.3s ease-in;
    -moz-transform: scale(0);
    -moz-transform-origin: center top;
    -moz-transition: transform 0.3s ease-in;
    -webkit-transform: scale(0);
    -webkit-transform-origin: center top;
    -webkit-transition: transform 0.3s ease-in;
}
.rotateInViewFinish {
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
}
/*****   ANIMATIONS END *****/

/*****   MEDIA QUERIES  *****/
@media all and (max-width: 900px) {
	.footer .pull-left, .footer .pull-right{
		float: none !important;
	}
	.footer .pull-left a, .footer .pull-right a{
		color: #aaaaaa;
		font-size: 14px;
		margin: 0 10px;
		line-height: 30px;
	}
}
@media all and (min-width:430px) and (max-width:585px) {
    .earningOptions ul li .button, .greyBox .button, .earningOptions ul li .buttonDisabled,
    .earningOptions ul li .buttonStroke {
        width: 55%;
    }
}
@media all and (min-width:585px) {
    .earningOptions ul li .button {
        width: 75%;
    }
}
@media all and (max-width:500px) {
    .earningOptions ul li .button, .greyBox .button, .earningOptions ul li .buttonDisabled,
    .earningOptions ul li .buttonStroke {
        width: 55%;
    }
}
/*****   MEDIA QUERIES END *****/


/******* NEW PROGRESS CHARTS *******/
canvas {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.canvasHolder {
    position: relative;
    display: inline-block;
}
.infoBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.infoBlock:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.infoHolder {
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
}