@import '../variables.scss';
.countdown {
  display: flex;
  align-items: center;
}

.countdown-item {
  position: relative;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

$panel-sz: 26px;
.cd-panel {
  width: $panel-sz;
  height: $panel-sz;
  line-height: 1.5;
  color: #fff;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;

  &.days {
    background: #4CAF50;
  }
  &.hours {
    background: #3598DB;
  }
  &.minutes {
    background: #F39C11;
  }
}

.cd-label {
  position: absolute;
  width: 44px;
  left: 50%;
  margin-left: -22px;
  text-align: center;
  color: $color-grey;
  text-transform: uppercase;
}

.cd-separator {
  position: absolute;
  top: calc($panel-sz / 2);
  left: -1px;
  width: calc($panel-sz + 1px);
  height: 0;
  padding: 3px 0;
  border-top: 1px solid $color-grey-dark;

  &:after, &:before {
    content: "";
    position: absolute;
    top: -4px;
    height: 7px;
    border-right: 1px solid $color-grey;
  }
  &:after {
    left: auto;
    right: -1px;
  }
}
