@import '../variables.scss';
.user-profile {
}
.profile-summary {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;

  .summary-center {
    text-align: center;
  }
}
.summary-aside {
  min-width: 90px;
  margin-top: 15px;
}
.aside-icon {
  float: left;
  width: 17px;
  height: 20px;
  margin: 5px 5px 5px 0;
}
.aside-title {
  font-size: 1.2rem;
  color: $color-grey-dark;
}
.aside-text {
  font-size: 1rem;
  color: $color-grey;
}
.todo-title {
  font-size: 1.9rem;
  font-weight: bold;
  color: $color-grey;
  text-transform: uppercase;
  text-align: center;
}
.todo-list {
  & > li {
    height: 8rem;
    font-size: 1.9rem;
    font-weight: bold;
    background: $color-grey;
    border-bottom: 1px solid $color-grey-lite;
    display: flex;
    align-items: center;

    &:last-child {
      background: $color-grey-lite;
      color: $color-grey;
      font-size: 1.4rem;
      text-transform: uppercase;
      border-bottom: 1px solid $color-grey;

      h2 {
        text-align: center;
        width: 100%;
      }
    }
  }

  .todo-image {
    width: 10rem;
  }
  .big-icon {
    height: 6rem;
    width: 100%;
    margin: 0 auto;
  }
}


/*Header overlay - hack but ok*/
.header-overlay {
  display: flex;
  position: fixed;
  left: 0; right: 0;
  top: 0;
  height: $header-h;
  font-size: 1.7rem;
  justify-content: space-between;

  & > * {
    background-color: $brand-color;
  }

  $back-btn-w: 8rem;
  .header-title {
    position: absolute;
    left: $back-btn-w;
    right: $back-btn-w;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
  }

  .nav-button {
    width: $back-btn-w;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transform: rotate(180deg);
      margin-right: 5px;
    }
  }
}
