@import './variables.scss';

.quiz {}

.quiz-content {
  padding-top: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-info {
  font-size: 1.2rem;
  padding-bottom: 2.7rem;
  color: $color-1;
}

.quiz-title {
  font-size: 2.4rem;
  color: $color-3;
  width: 50%;
  text-align: center;
  padding-bottom: 2rem;
}

.quiz-teams {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .versus {
    padding: 0 1.5rem;
    font-size: 1.7rem;
    color: $color-1;
    text-transform: uppercase;
  }
}

.team-container {
  width: 10.5rem;
  height: 10.5rem;
  background: $contrast-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 0px rgba(0, 0, 0, .3);
  img {
    width: 8rem;
  }
}

.result-draw {
  font-size: 1.4rem;
  color: $color-1;
  text-transform: uppercase;
  text-align: center;
}

.result-draw-icon {
  width: 7.5rem;
  height: 7.5rem;
  background: $contrast-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 0.7rem;
  box-shadow: 0 4px 0px rgba(0, 0, 0, .3);
  img {
    width: 100%;
  }
}


.teams-idle-wrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 3rem;
}

.team-idle {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 15rem;
  max-width: 15rem;
}

.team-idle-content {
  background: rgba(114, 114, 114, .3);
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  margin-bottom: 1rem;
  .team-idle.disabled & {
    background: rgba(114, 114, 114, .15);
    color: rgba(255, 255, 255, .5);
  }
}

.colon {
  font-size: 5rem;
  color: $color-1;
  font-weight: bold;
}

.team-name {
  font-size: 2.4rem;
  color: $color-1;
  text-align: center;
}

.score-choice {
  display: flex;
  padding: 0 2.7rem;
  flex-wrap: wrap;
  justify-content: space-between;
  div {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    background: $contrast-color;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .33);
    margin: 0 0.6rem 1.2rem;
    color: $brand-color;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.players-list {
  width: 100%;
  li {
    height: 8rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    border-top: 0.1rem solid $color-2;
    .player-number {
      min-width: 5.5rem;
      height: 5.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $contrast-color;
      border-radius: 50%;
      font-size: 2.4rem;
      color: $color-3;
      margin-right: 1rem;
    }
    .player-info {
      flex-grow: 1;
    }
    .player-name {
      font-size: 1.7rem;
      color: $color-3;
    }
    .player-position {
      font-size: 1.2rem;
      color: $color-1;
    }
  }
}
