@import './variables.scss';
/*
Columns
*/
.cols-3 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  .col {
    position: relative;
    flex: 0 1 auto;
    width: 25%;
    transform: translateY(100%);
    transition: transform .4s ease;
  }
}
.cols-2 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  .col {
    position: relative;
    flex: 0 1 auto;
    width: 45%;
    transform: translateY(100%);
    transition: transform .4s ease;
  }
}
/*
Text utils
*/
.text-brand {
  color: $brand-color;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.link-normal {
  color: $color-twitter;
  text-decoration: underline;
}
/*
Placeholders
*/
::placeholder {
  font-size: 1.9rem;
  color: $brand-color-opaque;
}
/*
Mixins
*/
@define-mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
Lists
*/
.list-title {
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: $color-grey-dark;
}
.list-meta {
  font-size: 1rem;
  color: $color-grey;
  text-transform: uppercase;
}
.list-item-arrow {
  width: 3.6rem;
  align-items: center;
  display: flex;
  justify-content: center;
  img {
    width: 0.8rem;
  }
}
