$loader-sz: 82px;
.loader-image {
  display: inline-block;
  position: absolute;
  top: 50%; left: 50%;
  margin: calc(-$loader-sz / 2) 0 0 calc(-$loader-sz / 2);
}
.cols-3 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  .col {
    position: relative;
    flex: 0 1 auto;
    width: 25%;
    transform: translateY(100%);
    transition: transform .4s ease;
  }
}
.cols-2 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  .col {
    position: relative;
    flex: 0 1 auto;
    width: 45%;
    transform: translateY(100%);
    transition: transform .4s ease;
  }
}

