@import './variables.scss';
.cols-3 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  .col {
    position: relative;
    flex: 0 1 auto;
    width: 25%;
    transform: translateY(100%);
    transition: transform .4s ease;
  }
}
.cols-2 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  .col {
    position: relative;
    flex: 0 1 auto;
    width: 45%;
    transform: translateY(100%);
    transition: transform .4s ease;
  }
}

.text-brand {
  color: $brand-color;
}
.text-center {
  text-align: center;
}

/*Placeholders*/
::placeholder {
  font-size: 1.9rem;
  color: $brand-color-opaque;
}

/*Mixins*/
@define-mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
