/*
Colors
*/
$color-grey-lite: #F0F0F0; /* 240, 240, 240 */
$color-grey: #B6B6B6; /* 182, 182, 182 */
$color-grey-opaque: rgba(182, 182, 182, .3);
$color-grey-dark: #727272; /* 114, 114, 114 */

$text-color: #fff;
$brand-color-lite: #8392c0;
$brand-color: #082581;  /* Old: #4CAF50; */
$brand-color-opaque: rgba(8, 37, 129, .5); /*Old rgba(76, 175, 80, .5);*/
$brand-color-dark: #07205d; /*Old #388E3C;*/
$brand-color-darkest: #0f0690; /*Old #2E422F;*/
$body-bg: $color-grey-lite;
$popup-bg: rgba(63, 81, 181, 0.9);
$color-selection: #e6e9f2; /*Old rgba(200, 230, 201, 0.5);*/
$color-facebook: #3B5998;
$color-twitter: #1DA1F2;
$color-email: #D6C047;
$color-sms: $brand-color;
$color-error: #FF5258; /*255, 82, 88*/
$color-error-opaque: rgba(255, 82, 88, .5);
$color-winner: #F6921E;
$color-winner-opaque: rgba(246, 196, 138, 0.5);
$color-bet: #4CAF50;
/*
Sizes
*/
$header-h: 4.4rem;
$section-header-h: 2.2rem;

/*
Fonts
*/
$font-family-roboto: 'Roboto', 'Helvetica', sans-serif;

/*
	All used font throughout the project (requires naming and usage only via variables)

	20px => 10px => 1rem
	22px => 11px => 1.1rem
	24px => 12px => 1.2rem
	28px => 14px => 1.4rem
	34px => 17px => 1.7rem
	38px => 19px => 1.9rem
	48px => 24px => 2.4rem
	66px => 33px => 3.3rem
	88px => 44px => 4.4rem

mixins postcss

*/
