/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: #46BC76;
$text-color: #117453;
$brand-color: #338956; /* 51, 137, 86 */

/*
 * Typography
 * -------------------------------------------------------------------------- */

$font-family-roboto: 'Roboto', 'Helvetica', sans-serif;
$font-family-roboto-bold: 'Roboto bold', 'Helvetica', sans-serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/*
 * Layout
 * -------------------------------------------------------------------------- */

$header-height: 4.4rem;