/*
Colors
*/
$text-color: #fff;
$brand-color: #4CAF50; /* 76, 175, 80 */
$brand-color-dark: #388E3C;
$brand-color-lite: #C8E6C9;
$body-bg: rgba(140, 140, 140, 0.06);
$popup-bg: rgba(63, 81, 181, 0.9);
$color-selection: rgba(200, 230, 201, 0.5);

$color-grey-lite: #F0F0F0; /* 240, 240, 240 */
$color-grey: #B6B6B6; /* 182, 182, 182 */
$color-grey-dark: #727272; /* 114, 114, 114 */

/*
Sizes
*/
$header-height: 4.4rem;

/*
Fonts
*/
$font-family-roboto: 'Roboto', 'Helvetica', sans-serif;

/*
	All used font throughout the project (requires naming and usage only via variables)

	20px => 10px => 1rem
	22px => 11px => 1.1rem
	24px => 12px => 1.2rem
	28px => 14px => 1.4rem
	34px => 17px => 1.7rem
	38px => 19px => 1.9rem
	48px => 24px => 2.4rem
	66px => 33px => 3.3rem
	88px => 44px => 4.4rem

mixins postcss

*/
