@import '../variables.scss';
@import '../utils.scss';
.earn-list-item {
  display: flex;
  align-items: center;
  height: 8rem;
  color: $color-grey-dark;
  border-bottom: 1px solid $color-grey-opaque;

  &.selected {
    background: $color-selection;
  }
}

$image-sz: 5.5rem;
.earn-item-aside {
  min-width: $image-sz;
  padding: 0 10px 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.earn-item-image {
  width: $image-sz;
  min-width: $image-sz;
  max-width: $image-sz;
  height: $image-sz;
  border-radius: 50%;
  background: #fff;
  @mixin center-image;
  img {
    max-height: 102%; /* hack to fix cut circle edges*/
  }
}
.earn-details {
  flex-grow: 1;
}
