@import '../variables.scss';
.earn-list-item {
  display: flex;
  align-items: center;
  height: 8rem;
  color: $color-grey-dark;
  border-bottom: 1px solid $color-grey-opaque;

  &.selected {
    background: $color-selection;
  }
}
$logo-sz: 55px;
.earn-logo-cont {
  width: $logo-sz;
  height: $logo-sz;
  margin: 0 10px 0 15px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .earn-logo {
    width: 45px;
    height: auto;
  }
}
.earn-details {
  flex-grow: 1;
}
