@import '../variables.scss';
@import '../utils.scss';
.earn-list-item {
  display: flex;
  align-items: center;
  height: 8rem;
  color: $color-grey-dark;
  border-bottom: 1px solid $color-grey-opaque;

  &.selected {
    background: $color-selection;
  }
}
.earn-item-aside {
  padding-left: 15px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

$image-sz: 5.5rem;
.earn-item-image {
  width: $image-sz;
  height: $image-sz;
  border-radius: 50%;
  background: #fff;
  @mixin center-image;
  img {
    max-height: 102%; /* hack to fix cut circle edges*/
  }
}
.earn-details {
  flex-grow: 1;
}
