@import '../variables.scss';
.quiz-success {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-grey-dark;
}

$success-icon-sz: 105px;
.icon-success {
  width: $success-icon-sz;
  height: $success-icon-sz;
  border-radius: 50%;
  margin-bottom: 15px;
  background-color: $brand-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-subtitle {
  font-size: 2.4rem;
}
.success-text {
  font-size: 1.8rem;
}
