@import '../reset.scss';
@import '../variables.scss';
html {
  font-size: 10px;
  /*
    1rem = 10px
    1rem inside media queries = 16px
  */
}
h2 {
  /*font-size: 3.2rem;*/
}
h3 {
  /*font-size: 1rem;*/
}
h4 {
  /*font-size: 1.4rem;*/
}
body {
  color: $text-color;
  font-family: $font-family-roboto;
  background-color: $body-bg;
  background-image: url('../../static/images/bg.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100%;
  background-attachment: fixed;
}
#app {
  height: 100%;
}
.layout {
  padding-top: $header-height;
  height: calc(100% - $header-height);
}
.content {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/*
Preloader
*/
$loader-sz: 210px;
.preloader {
  position: relative;
  height: 100%;
}
.loader-image {
  position: absolute;
  top: 50%; left: 50%;
  width: $loader-sz;
  height: $loader-sz;
  margin: calc(-$loader-sz / 2) 0 0 calc(-$loader-sz / 2);
  background: url('../../static/images/loader2.gif') no-repeat;
}


/*Screens*/
$progress-h: 4px; /*TODO - to vars*/
.screen {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.screen-swiper {
  display: flex;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; /*width is set by js*/
  transform: translateX(0%);
  transition: transform .3s ease;

  & > * {
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }

  &.with-progress {
    top: $progress-h;
  }
}
.screen-content {
}
