@import '../reset.scss';
@import '../variables.scss';
html {
  font-size: 10px;
  /*
    1rem = 10px
    1rem inside media queries = 16px
  */
}
h2 {
  /*font-size: 3.2rem;*/
}
h3 {
  /*font-size: 1rem;*/
}
h4 {
  /*font-size: 1.4rem;*/
}
body {
  color: $text-color;
  font-family: $font-family-roboto;
  background: $body-bg url('../../static/images/bg.svg') no-repeat;
  background-position: left bottom;
  background-size: 100%;
  background-attachment: fixed;
}
#app {
  height: 100%;
}
.layout {
  padding-top: $header-h;
  height: calc(100% - $header-h);
}
.content {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.safari-scroll-fix {
    -webkit-overflow-scrolling: auto;
  }
}

/*Progress*/
$loader-sz: 80px;
.fetching {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: $loader-sz;
    height: $loader-sz;
  }
}

/*Screens*/
$progress-h: 4px; /*TODO - to vars*/
.screen {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.screen-swiper {
  display: flex;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; /*width is set by js*/
  transform: translateX(0%);
  transition: transform .3s ease;

  & > * {
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }

  &.with-progress {
    top: $progress-h;
  }
}
.screen-content {
  height: 100%;
  overflow-y: auto;
}
