@import '../reset.scss';
@import '../variables.scss';

html {
  font-size: 10px;
  /*
    1rem = 10px
    1rem inside media queries = 16px
  */
}

h2 {
  /*font-size: 3.2rem;*/
}
h3 {
  /*font-size: 1rem;*/
}
h4 {
  /*font-size: 1.4rem;*/
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-roboto;
  background-image: url('./../../static/images/bg.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100%;
  background-attachment: fixed;
}

#app,
.layout {
  height: 100%;
}

.layout {

}

.content {
  padding-top: $header-height;
  overflow: auto;
  height: calc(100% - $header-height);
}

@media (min-width: $screen-sm-min) {
  .layout {
    width: calc($screen-sm-min - 18px);
  }
}

@media (min-width: $screen-md-min) {
  .layout {
    width: calc($screen-md-min - 22px);
  }
}

@media (min-width: $screen-lg-min) {
  .layout {
    width: calc($screen-lg-min - 30px);
  }
}
