@import '../variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
}
.layout {
  margin: 0 auto;
}
@media (min-width: $screen-sm-min) {
  .layout {
    width: calc($screen-sm-min - 18px);
  }
}
@media (min-width: $screen-md-min) {
  .layout {
    width: calc($screen-md-min - 22px);
  }
}
@media (min-width: $screen-lg-min) {
  .layout {
    width: calc($screen-lg-min - 30px);
  }
}
