@import '../variables.scss';
@import '../utils.scss';
.teams-idle-wrapper {
  min-height: 130px;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}
.team-idle {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 15rem;
  max-width: 15rem;
}
.team-idle-content {
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 1rem;
  background: rgba(114, 114, 114, .15);

  .team-idle.touched & {
    background: rgba(114, 114, 114, .3);
  }
  .team-idle.selected & {
    background: $brand-color-dark;
  }
}
.team-name {
  font-size: 2.4rem;
  text-align: center;
  color: $color-grey-opaque;

  .team-idle.touched & {
    color: $color-grey;
  }
  .team-idle.selected & {
    color: $brand-color-dark;
  }
}
.colon {
  font-size: 5rem;
  color: $color-grey;
  font-weight: bold;
}
.score-choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;
  .score-btn-col {
    flex: 0 1 20%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .score-btn {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .33);
    color: $brand-color;
    font-size: 2.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
