.fcclub-shopping-label-trigger > .fcclub-shopping-label > .fcclub-shopping-label-logo {
    background-image: url('../images/qpr_crest_on_white.png');
    background-color: #005cab;
}

.fcclub-shopping-label-trigger > .fcclub-shopping-label > .fcclub-shopping-label-content .fcclub-shopping-label-ask .fcclub-shopping-label-no-btn:hover {
    color: #005cab;
}

.fcclub-shopping-label-trigger > .fcclub-shopping-label > .fcclub-shopping-label-content table .fcclub-shopping-label-message td a:hover {
    color: #005cab;
}

.fcclub-shopping-label-trigger > .fcclub-shopping-label > .fcclub-shopping-label-bottom-text .fcclub-shopping-label-info:hover {
    background: #005cab;
}
