@import '../variables.scss';
@import '../utils.scss';
.quiz-exit {
  padding: 15px;
  overflow-y: auto;
  text-align: center;

  & > .text-regular {
    margin: -10px 0 15px;
  }

  .big-btn {
    margin: 0 0 15px;
  }

  .money-btn {
    font-size: 1.9rem;
  }
}
.big-image {
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 280px;
    width: auto;
  }
}

