.dg-o-w-element-shadow {
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
}
@-webkit-keyframes dg-widget-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dg-widget-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dg-widget-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dg-widget-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes dg-spinner-loader {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes dg-spinner-loader {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@-webkit-keyframes dg-widget-pop-in {
  0% {
    top: 100%;
    -webkit-transform: translate(-50%, 10%);
            transform: translate(-50%, 10%);
  }
  100% {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes dg-widget-pop-in {
  0% {
    top: 100%;
    -webkit-transform: translate(-50%, 10%);
            transform: translate(-50%, 10%);
  }
  100% {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes dg-widget-pop-out {
  0% {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 100%;
    -webkit-transform: translate(-50%, 10%);
            transform: translate(-50%, 10%);
  }
}
@keyframes dg-widget-pop-out {
  0% {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 100%;
    -webkit-transform: translate(-50%, 10%);
            transform: translate(-50%, 10%);
  }
}
@-webkit-keyframes dg-o-wlinear-rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
  }
}
@keyframes dg-o-wlinear-rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
  }
}
@-webkit-keyframes dg-o-w-slide-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes dg-o-w-slide-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes dg-o-w-slide-left-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes dg-o-w-slide-left-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes dg-o-w-slide-left-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes dg-o-w-slide-left-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes dg-video-pop-in {
  0% {
    top: 100%;
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
  }
  100% {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
@keyframes dg-video-pop-in {
  0% {
    top: 100%;
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
  }
  100% {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
@-webkit-keyframes dg-video-pop-out {
  0% {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  100% {
    top: 100%;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
}
@keyframes dg-video-pop-out {
  0% {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  100% {
    top: 100%;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
}
