@import "variables";

@keyframes dg-widget-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dg-widget-fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dg-spinner-loader {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em @color-brand, 2em -2em 0 0em @color-brand, 3em 0 0 -1em @color-brand, 2em 2em 0 -1em @color-brand, 0 3em 0 -1em @color-brand, -2em 2em 0 -1em @color-brand, -3em 0 0 -1em @color-brand, -2em -2em 0 0 @color-brand;
	}
	12.5% {
		box-shadow: 0 -3em 0 0 @color-brand, 2em -2em 0 0.2em @color-brand, 3em 0 0 0 @color-brand, 2em 2em 0 -1em @color-brand, 0 3em 0 -1em @color-brand, -2em 2em 0 -1em @color-brand, -3em 0 0 -1em @color-brand, -2em -2em 0 -1em @color-brand;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em @color-brand, 2em -2em 0 0 @color-brand, 3em 0 0 0.2em @color-brand, 2em 2em 0 0 @color-brand, 0 3em 0 -1em @color-brand, -2em 2em 0 -1em @color-brand, -3em 0 0 -1em @color-brand, -2em -2em 0 -1em @color-brand;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em @color-brand, 2em -2em 0 -1em @color-brand, 3em 0em 0 0 @color-brand, 2em 2em 0 0.2em @color-brand, 0 3em 0 0em @color-brand, -2em 2em 0 -1em @color-brand, -3em 0em 0 -1em @color-brand, -2em -2em 0 -1em @color-brand;
	}
	50% {
		box-shadow: 0 -3em 0 -1em @color-brand, 2em -2em 0 -1em @color-brand, 3em 0 0 -1em @color-brand, 2em 2em 0 0em @color-brand, 0 3em 0 0.2em @color-brand, -2em 2em 0 0 @color-brand, -3em 0em 0 -1em @color-brand, -2em -2em 0 -1em @color-brand;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em @color-brand, 2em -2em 0 -1em @color-brand, 3em 0 0 -1em @color-brand, 2em 2em 0 -1em @color-brand, 0 3em 0 0 @color-brand, -2em 2em 0 0.2em @color-brand, -3em 0 0 0 @color-brand, -2em -2em 0 -1em @color-brand;
	}
	75% {
		box-shadow: 0em -3em 0 -1em @color-brand, 2em -2em 0 -1em @color-brand, 3em 0em 0 -1em @color-brand, 2em 2em 0 -1em @color-brand, 0 3em 0 -1em @color-brand, -2em 2em 0 0 @color-brand, -3em 0em 0 0.2em @color-brand, -2em -2em 0 0 @color-brand;
	}
	87.5% {
		box-shadow: 0em -3em 0 0 @color-brand, 2em -2em 0 -1em @color-brand, 3em 0 0 -1em @color-brand, 2em 2em 0 -1em @color-brand, 0 3em 0 -1em @color-brand, -2em 2em 0 0 @color-brand, -3em 0em 0 0 @color-brand, -2em -2em 0 0.2em @color-brand;
	}
}

@keyframes dg-widget-pop-in {
	0% {
		top: 100%;
		transform: translate(-50%,10%);
	}
	100% {
		top: 50%;
		transform: translate(-50%,-50%);
	}
}

@keyframes dg-widget-pop-out {
	0% {
		top: 50%;
		transform: translate(-50%,-50%);
	}
	100% {
		top: 100%;
		transform: translate(-50%,10%);
	}
}

@keyframes dg-o-wlinear-rotation {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(359deg);
	}
}

@keyframes dg-o-w-slide-right {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}