@-webkit-keyframes dg-widget-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dg-widget-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dg-widget-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dg-widget-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes dg-spinner-loader {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #00369c, 2em -2em 0 0em #00369c, 3em 0 0 -1em #00369c, 2em 2em 0 -1em #00369c, 0 3em 0 -1em #00369c, -2em 2em 0 -1em #00369c, -3em 0 0 -1em #00369c, -2em -2em 0 0 #00369c;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #00369c, 2em -2em 0 0.2em #00369c, 3em 0 0 0 #00369c, 2em 2em 0 -1em #00369c, 0 3em 0 -1em #00369c, -2em 2em 0 -1em #00369c, -3em 0 0 -1em #00369c, -2em -2em 0 -1em #00369c;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #00369c, 2em -2em 0 0 #00369c, 3em 0 0 0.2em #00369c, 2em 2em 0 0 #00369c, 0 3em 0 -1em #00369c, -2em 2em 0 -1em #00369c, -3em 0 0 -1em #00369c, -2em -2em 0 -1em #00369c;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #00369c, 2em -2em 0 -1em #00369c, 3em 0em 0 0 #00369c, 2em 2em 0 0.2em #00369c, 0 3em 0 0em #00369c, -2em 2em 0 -1em #00369c, -3em 0em 0 -1em #00369c, -2em -2em 0 -1em #00369c;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #00369c, 2em -2em 0 -1em #00369c, 3em 0 0 -1em #00369c, 2em 2em 0 0em #00369c, 0 3em 0 0.2em #00369c, -2em 2em 0 0 #00369c, -3em 0em 0 -1em #00369c, -2em -2em 0 -1em #00369c;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #00369c, 2em -2em 0 -1em #00369c, 3em 0 0 -1em #00369c, 2em 2em 0 -1em #00369c, 0 3em 0 0 #00369c, -2em 2em 0 0.2em #00369c, -3em 0 0 0 #00369c, -2em -2em 0 -1em #00369c;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #00369c, 2em -2em 0 -1em #00369c, 3em 0em 0 -1em #00369c, 2em 2em 0 -1em #00369c, 0 3em 0 -1em #00369c, -2em 2em 0 0 #00369c, -3em 0em 0 0.2em #00369c, -2em -2em 0 0 #00369c;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #00369c, 2em -2em 0 -1em #00369c, 3em 0 0 -1em #00369c, 2em 2em 0 -1em #00369c, 0 3em 0 -1em #00369c, -2em 2em 0 0 #00369c, -3em 0em 0 0 #00369c, -2em -2em 0 0.2em #00369c;
  }
}
@keyframes dg-spinner-loader {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #00369c, 2em -2em 0 0em #00369c, 3em 0 0 -1em #00369c, 2em 2em 0 -1em #00369c, 0 3em 0 -1em #00369c, -2em 2em 0 -1em #00369c, -3em 0 0 -1em #00369c, -2em -2em 0 0 #00369c;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #00369c, 2em -2em 0 0.2em #00369c, 3em 0 0 0 #00369c, 2em 2em 0 -1em #00369c, 0 3em 0 -1em #00369c, -2em 2em 0 -1em #00369c, -3em 0 0 -1em #00369c, -2em -2em 0 -1em #00369c;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #00369c, 2em -2em 0 0 #00369c, 3em 0 0 0.2em #00369c, 2em 2em 0 0 #00369c, 0 3em 0 -1em #00369c, -2em 2em 0 -1em #00369c, -3em 0 0 -1em #00369c, -2em -2em 0 -1em #00369c;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #00369c, 2em -2em 0 -1em #00369c, 3em 0em 0 0 #00369c, 2em 2em 0 0.2em #00369c, 0 3em 0 0em #00369c, -2em 2em 0 -1em #00369c, -3em 0em 0 -1em #00369c, -2em -2em 0 -1em #00369c;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #00369c, 2em -2em 0 -1em #00369c, 3em 0 0 -1em #00369c, 2em 2em 0 0em #00369c, 0 3em 0 0.2em #00369c, -2em 2em 0 0 #00369c, -3em 0em 0 -1em #00369c, -2em -2em 0 -1em #00369c;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #00369c, 2em -2em 0 -1em #00369c, 3em 0 0 -1em #00369c, 2em 2em 0 -1em #00369c, 0 3em 0 0 #00369c, -2em 2em 0 0.2em #00369c, -3em 0 0 0 #00369c, -2em -2em 0 -1em #00369c;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #00369c, 2em -2em 0 -1em #00369c, 3em 0em 0 -1em #00369c, 2em 2em 0 -1em #00369c, 0 3em 0 -1em #00369c, -2em 2em 0 0 #00369c, -3em 0em 0 0.2em #00369c, -2em -2em 0 0 #00369c;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #00369c, 2em -2em 0 -1em #00369c, 3em 0 0 -1em #00369c, 2em 2em 0 -1em #00369c, 0 3em 0 -1em #00369c, -2em 2em 0 0 #00369c, -3em 0em 0 0 #00369c, -2em -2em 0 0.2em #00369c;
  }
}
@-webkit-keyframes dg-widget-pop-in {
  0% {
    top: 100%;
    -webkit-transform: translate(-50%, 10%);
            transform: translate(-50%, 10%);
  }
  100% {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes dg-widget-pop-in {
  0% {
    top: 100%;
    -webkit-transform: translate(-50%, 10%);
            transform: translate(-50%, 10%);
  }
  100% {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes dg-widget-pop-out {
  0% {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 100%;
    -webkit-transform: translate(-50%, 10%);
            transform: translate(-50%, 10%);
  }
}
@keyframes dg-widget-pop-out {
  0% {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 100%;
    -webkit-transform: translate(-50%, 10%);
            transform: translate(-50%, 10%);
  }
}
@-webkit-keyframes dg-o-wlinear-rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
  }
}
@keyframes dg-o-wlinear-rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
  }
}
