.dg-o-w-element-shadow {
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
}
.page-animation {
  animation: dg-o-w-slide-left-in 0.3s ease 0s 1 forwards;
}
@media screen and (max-height: 700px) {
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body {
    height: 410px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-login {
    height: 230px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-login .dg-o-w-login-prize-title {
    line-height: 65px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-login .dg-o-w-login-prize-title:after {
    width: 80px;
    height: 80px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-profile {
    padding: 10px 30px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-profile .dg-o-w-image-holder .avatar {
    max-width: 70px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-section-content {
    padding: 10px 25px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-badge-single-page .dg-o-w-badge-single {
    height: 230px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body.profile-anon .dg-o-w-content .dg-o-w-section .dg-o-w-footer-login {
    bottom: 99px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-header .dg-o-w-menu-profile .profile-menu-item > * .dg-o-w-login-dropdown.shown .dg-o-w-email-login-form {
    top: 25px;
    padding: 10px 25px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-header .dg-o-w-menu-profile .profile-menu-item > * .dg-o-w-login-dropdown.shown .dg-o-w-email-login-form form .btn-dg-o-w {
    margin: 15px 0;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-header .dg-o-w-menu-profile .profile-menu-item > * .dg-o-w-login-dropdown.shown .dg-o-w-email-login-form .dg-o-w-header-form-close {
    font-size: 26px;
    top: 5px;
    right: 5px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-white-section {
    margin-top: 5px;
  }
}
@media screen and (max-width: 1024px) {
  #dg-o-w,
  #dg-side-widget {
    display: none !important;
  }
}
