.dg-o-w-element-shadow {
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
}
@media screen and (max-height: 700px) {
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body {
    height: 410px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-login {
    height: 330px;
    padding: 20px 30px 100px 0;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-login .dg-o-w-left-side .dg-o-w-image-holder .dg-o-w-brand-player-image {
    background-size: 80%;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-profile {
    padding: 10px 30px;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-profile .dg-o-w-left-side img {
    max-width: 80%;
  }
  #dg-o-w #dg-o-w-wrapper .dg-o-w-overlay .dg-o-w-body .dg-o-w-content .dg-o-w-section .dg-o-w-profile .dg-o-w-right-side .dg-o-w-profile-top {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1024px) {
  #dg-o-w,
  #dg-side-widget {
    display: none !important;
  }
}
