@import "variables";

@media screen and (max-height: 700px){
	#dg-o-w {
		#dg-o-w-wrapper {
			.dg-o-w-overlay {
				.dg-o-w-body {
					height: @dg-widget-overlay-widget-height - 100;

					.dg-o-w-content {

						.dg-o-w-section {
							.dg-o-w-login {
								height: @dg-widget-overlay-widget-height - 200 - @dg-widget-overlay-header-height;

								.dg-o-w-login-prize-title {
									line-height: 65px;

									&:after {
										width: 80px;
										height: 80px;
									}
								}
							}

							.dg-o-w-profile {

								padding: 10px 30px;

								.dg-o-w-image-holder .avatar {
									max-width: 70px;
								}
							}

							.dg-o-w-section-content {
								padding: 10px 25px;
							}

							.dg-o-w-badge-single-page .dg-o-w-badge-single {
								height: @dg-widget-overlay-widget-height - 200 - @dg-widget-overlay-header-height;
							}

						}
					}

					&.profile-anon {
						.dg-o-w-content {
							.dg-o-w-section {
								.dg-o-w-footer-login {
									bottom: 99px;
								}
							}
						}
					}

					.dg-o-w-header .dg-o-w-menu-profile .profile-menu-item>* .dg-o-w-login-dropdown.shown .dg-o-w-email-login-form {
						top: 25px;
						padding: 10px 25px;

						form .btn-dg-o-w {
							margin: 15px 0;
						}

						.dg-o-w-header-form-close {
							font-size: 26px;
							top: 5px;
							right: 5px;
						}
					}
				}
				.dg-o-w-white-section {
					margin-top: 5px;
				}
			}
		}
	}
}


@media screen and (max-width: 1024px) {
	#dg-o-w, #dg-side-widget {
		display: none !important;
	}
}