.dg-o-w-element-shadow {
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
}
#dg-side-widget #dg-side-widget-wrapper {
  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 12000;
  color: #00309b;
}
#dg-side-widget #dg-side-widget-wrapper a,
#dg-side-widget #dg-side-widget-wrapper p,
#dg-side-widget #dg-side-widget-wrapper div,
#dg-side-widget #dg-side-widget-wrapper span,
#dg-side-widget #dg-side-widget-wrapper h1,
#dg-side-widget #dg-side-widget-wrapper h2,
#dg-side-widget #dg-side-widget-wrapper h3,
#dg-side-widget #dg-side-widget-wrapper h4,
#dg-side-widget #dg-side-widget-wrapper h5,
#dg-side-widget #dg-side-widget-wrapper h6,
#dg-side-widget #dg-side-widget-wrapper section,
#dg-side-widget #dg-side-widget-wrapper header,
#dg-side-widget #dg-side-widget-wrapper aside,
#dg-side-widget #dg-side-widget-wrapper ul,
#dg-side-widget #dg-side-widget-wrapper ol,
#dg-side-widget #dg-side-widget-wrapper li,
#dg-side-widget #dg-side-widget-wrapper b,
#dg-side-widget #dg-side-widget-wrapper i,
#dg-side-widget #dg-side-widget-wrapper label,
#dg-side-widget #dg-side-widget-wrapper input,
#dg-side-widget #dg-side-widget-wrapper form,
#dg-side-widget #dg-side-widget-wrapper textarea,
#dg-side-widget #dg-side-widget-wrapper select,
#dg-side-widget #dg-side-widget-wrapper option {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  float: none;
  text-shadow: none;
  background: none;
  clear: none;
  text-transform: none;
  outline: none;
  font-size: inherit;
  font-family: Roboto, Helvetica, Calibri, Arial, sans-serif;
  color: inherit;
  font-weight: inherit;
  font-style: normal;
  line-height: inherit;
  letter-spacing: 0;
  text-indent: 0;
  text-align: inherit;
  display: block;
  text-decoration: none;
  vertical-align: baseline;
  position: static;
  border-collapse: collapse;
  width: auto;
  height: auto;
  list-style: none;
  min-width: initial;
  min-height: initial;
  visibility: visible;
  opacity: 1;
  -webkit-font-smoothing: subpixel-antialiased;
}
#dg-side-widget #dg-side-widget-wrapper span,
#dg-side-widget #dg-side-widget-wrapper a,
#dg-side-widget #dg-side-widget-wrapper b,
#dg-side-widget #dg-side-widget-wrapper i {
  display: inline;
}
#dg-side-widget #dg-side-widget-wrapper h1 {
  font-size: 22px;
  line-height: 26px;
}
#dg-side-widget #dg-side-widget-wrapper h2 {
  font-size: 20px;
  line-height: 22px;
}
#dg-side-widget #dg-side-widget-wrapper h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
#dg-side-widget #dg-side-widget-wrapper h4 {
  font-size: 16px;
  line-height: 19px;
}
#dg-side-widget #dg-side-widget-wrapper h5 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 100;
}
#dg-side-widget #dg-side-widget-wrapper h6 {
  font-size: 10px;
  line-height: 12px;
  font-weight: 100;
}
#dg-side-widget #dg-side-widget-wrapper img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
#dg-side-widget #dg-side-widget-wrapper p {
  font-size: 14px;
  line-height: 18px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-o-w-color-brand {
  color: #00309b;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-shadow {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body {
  position: relative;
  animation: dg-o-w-slide-right 0.4s ease forwards 1;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section {
  overflow: hidden;
  width: 75px;
  height: 150px;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  position: relative;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section .dg-o-w-points-text {
  font-size: 12px;
  line-height: 18px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section .dg-o-w-points-text:after {
  content: ' pts';
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section .dg-o-w-credits-text {
  font-size: 16px;
  line-height: 18px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section .dg-o-w-credits-text:before {
  font-weight: 400;
  content: '£ ';
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section .dg-side-image-bg {
  max-width: 100%;
  height: auto;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section .dg-side-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 5px 8px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section .dg-side-content p {
  margin-bottom: 5px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section.dg-full-size .dg-side-content {
  top: 0;
  background-color: transparent;
  padding: 35px 5px 8px 5px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section.dg-full-size .dg-side-content p {
  color: #323232;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section.dg-small-size {
  height: 120px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section.dg-small-size .dg-side-content {
  background-color: transparent;
  padding: 5px 5px 2px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section.dg-small-size .dg-side-content p {
  color: #00309b;
  margin-bottom: 0;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section.dg-small-size .dg-side-progress-bar {
  background-color: #ededed;
  margin-bottom: 6px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-section.dg-small-size .dg-side-progress-bar .dg-side-progress-bar-inner {
  background-color: #9ec64e;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-bottom-floating {
  background: #fff;
  padding: 7px 5px;
  margin-top: 5px;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-bottom-floating.dg-side-action {
  padding: 0 5px;
  line-height: 25px;
  height: 25px;
  text-align: center;
  background-color: #00309b;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-click-holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: transparent;
  z-index: 100;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-cta {
  display: block;
  background-color: #9ec64e;
  text-align: center;
  color: #ffffff;
  line-height: 24px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 12px;
  white-space: nowrap;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-progress-bar {
  height: 8px;
  width: 100%;
  border-radius: 4px;
  background-color: #ededed;
  overflow: hidden;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-progress-bar .dg-side-progress-bar-inner {
  height: 100%;
  width: 40%;
  background-color: #00309b;
  border-radius: 4px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-notification-holder {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-notification-holder .dg-side-notification {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#dg-side-widget #dg-side-widget-wrapper .dg-side-widget-body .dg-side-notification-holder .dg-side-notification.dg-side-claim-prize {
  background-color: #ededed;
  background-image: url('imgs/trophey-clean.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
}
