@import "variables";

#dg-side-widget {
	#dg-side-widget-wrapper {
		position: fixed;
		bottom: 100px;
		right: 0;
		z-index: 12000;
		color: @color-brand;

		a, p, div, span, h1, h2, h3, h4, h5, h6,
		section, header, aside, ul, ol, li, b, i,
		label, input, form, textarea, select, option {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			border: 0;
			float: none;
			text-shadow: none;
			background: none;
			clear: none;
			text-transform: none;
			outline: none;
			font-size: inherit;
			font-family: Roboto, Helvetica, Calibri, Arial, sans-serif;
			color: inherit;
			font-weight: inherit;
			font-style: normal;
			line-height: inherit;
			letter-spacing: 0;
			text-indent: 0;
			text-align: inherit;
			display: block;
			text-decoration: none;
			vertical-align: baseline;
			position: static;
			border-collapse: collapse;
			width: auto;
			height: auto;
			list-style: none;
			min-width: initial;
			min-height: initial;
			visibility: visible;
			opacity: 1;
			-webkit-font-smoothing: subpixel-antialiased;
		}

		span, a, b, i {
			display: inline;
		}

		h1 {
			font-size: 22px;
			line-height: 26px;
		}

		h2 {
			font-size: 20px;
			line-height: 22px;
		}

		h3 {
			font-size: 16px;
			line-height: 20px;
			font-weight: 400;
		}

		h4 {
			font-size: 16px;
			line-height: 19px;
		}

		h5 {
			font-size: 12px;
			line-height: 14px;
			font-weight: 100;
		}

		h6 {
			font-size: 10px;
			line-height: 12px;
			font-weight: 100;
		}

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}

		p {
			font-size: 14px;
			line-height: 18px;
		}

		.dg-o-w-color-brand {
			color: @color-brand;
		}

		.dg-side-shadow {
			box-shadow: -1px 1px 2px rgba(0,0,0,.2);
		}

		.dg-side-widget-body {
			position: relative;
			animation: dg-o-w-slide-right 0.4s ease forwards 1;

			.dg-side-section {
				overflow: hidden;
				width: @dg-side-widget-width;
				height: @dg-side-widget-height;
				.dg-side-shadow;
				background-color: @color-white;
				border-bottom-left-radius: 3px;
				border-top-left-radius: 3px;
				position: relative;

				.dg-o-w-points-text {
					font-size: 12px;
					line-height: 18px;

					&:after {
						content: ' pts';
					}
				}

				.dg-o-w-credits-text {
					font-size: 16px;
					line-height: 18px;
					&:before {
						font-weight: 400;
						content: '£ ';
					}
				}

				.dg-side-image-bg {
					max-width: 100%;
					height: auto;
				}

				.dg-side-content {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: rgba(0,0,0,0.4);
					padding: 5px 5px 8px;

					p {
						margin-bottom: 5px;
						color: @color-white;
						text-align: center;
						text-transform: uppercase;
					}
				}

				&.dg-full-size {
					.dg-side-content {
						top: 0;
						background-color: transparent;
						padding: 35px 5px 8px 5px;

						p {
							color: @color-grey-darkest;
						}
					}
				}

				&.dg-small-size {
					height: @dg-side-widget-height-small;

					.dg-side-content {
						background-color: transparent;
						padding: 5px 5px 2px;

						p {
							color: @color-brand;
							margin-bottom: 0;
						}
					}

					.dg-side-progress-bar {
						background-color: @color-grey-light;
						margin-bottom: 6px;

						.dg-side-progress-bar-inner {
							background-color: @color-green;
						}
					}
				}
			}



			.dg-side-bottom-floating {
				background: #fff;
				padding: 7px 5px;
				margin-top: 5px;
				.dg-side-shadow;
				border-bottom-left-radius: 3px;
				border-top-left-radius: 3px;

				&.dg-side-action {
					padding: 0 5px;
					line-height: 25px;
					height: 25px;
					text-align: center;
					background-color: @color-brand;
					color: @color-white;
					text-transform: uppercase;
					font-size: 13px;
				}
			}

			.dg-side-click-holder {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				cursor: pointer;
				background: transparent;
				z-index: 100;
			}

			.dg-side-cta {
				display: block;
				background-color: @color-green;
				text-align: center;
				color: @color-white;
				line-height: 24px;
				font-size: 12px;
				text-transform: uppercase;
				border-radius: 12px;
				white-space: nowrap;
			}

			.dg-side-progress-bar {
				height: 8px;
				width: 100%;
				border-radius: 4px;
				background-color: @color-grey-light;
				overflow: hidden;

				.dg-side-progress-bar-inner {
					height: 100%;
					width: 40%;
					background-color: @color-brand;
					border-radius: 4px;
				}
			}

			.dg-side-notification-holder {
				position: absolute;
				top: -10px;
				left: -10px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				font-size: 14px;

				.dg-side-notification {
					.dg-side-shadow;
					background-color: @color-white;
					border: 1px solid @color-white;
					border-radius: 50%;
					width: 100%;
					height: 100%;
					line-height: inherit;

					&.dg-side-claim-prize {
						background-color: @color-grey-light;
						background-image: url('./imgs/trophey-clean.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: 65%;
					}
				}
			}
		}
	}
}