@import "variables";

#dg-side-widget {
	#dg-side-widget-wrapper {
		position: fixed;
		bottom: 100px;
		right: 0;
		z-index: 12000;

		a, p, div, span, h1, h2, h3, h4, h5, h6,
		section, header, aside, ul, ol, li, b, i,
		label, input, form, textarea, select, option {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			border: 0;
			float: none;
			text-shadow: none;
			background: none;
			clear: none;
			text-transform: none;
			outline: none;
			font-size: inherit;
			font-family: Roboto, Helvetica, Calibri, Arial, sans-serif;
			color: inherit;
			font-weight: inherit;
			font-style: normal;
			line-height: inherit;
			letter-spacing: 0;
			text-indent: 0;
			text-align: inherit;
			display: block;
			text-decoration: none;
			vertical-align: baseline;
			position: static;
			border-collapse: collapse;
			width: auto;
			height: auto;
			list-style: none;
			min-width: initial;
			min-height: initial;
			visibility: visible;
			opacity: 1;
		}

		span, a, b, i {
			display: inline;
		}

		h3 {
			font-size: 22px;
			line-height: 26px;
			font-weight: 400;
		}

		h5 {
			font-size: 12px;
			line-height: 16px;
			font-weight: 100;
		}

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}

		p {
			font-size: 14px;
			line-height: 18px;
		}

		.dg-side-widget-body {
			position: relative;
			width: @dg-side-widget-collapsed-width;
			height: 140px;
			background-color: @color-grey-light;
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
			box-shadow: -1px 1px 4px rgba(0,0,0,.2);
			transition: width 0.3s ease;
			overflow: hidden;

			animation: dg-o-w-slide-right 0.4s ease forwards 1;

			.dg-side-widget-resizer {
				position: absolute;
				top: 14px;
				right: -8px;
				width: 22px;
				height: 22px;
				line-height: 22px;
				font-size: 28px;
				font-weight: 100;
				background-color: rgba(0,0,0,0.3);
				color: @color-grey-light;
				border-radius: 50%;
				transform: translate(-50%, -50%);
				cursor: pointer;
				text-align: center;

				&:after {
					content: '-';
				}
			}

			.dg-side-collapsed {
				display: block;
			}

			.dg-side-expanded {
				display: none;
			}

			.dg-side-widget-content {
				padding: 10px 8px 0;
				text-align: center;
				color: @color-white;

				.dg-side-section {
					overflow: hidden;

					h6 {
						span:nth-child(1):after {
							content: ' pts';
						}
						span:nth-child(2):after {
							content: ' cts';
						}
					}

					.dg-side-img-holder {
						position: absolute;
						right: -16px;
						bottom: 0;
						width: 100%;
						height: 100%;
						transform: translateZ(0);
						transition: right 0.3s ease;

						.dg-o-w-side-image-floating {
							height: 100%;
							width: auto;
							max-width: none;
						}
					}

					.dg-side-content {
						max-width: 95px;
						float: right;
						margin-top: 12px;
						font-size: 15px;
						color: @color-brand;
						transform: translateX(-200%);
						transition: transform 0.3s ease;
					}
				}

				.dg-side-cta {
					position: absolute;
					bottom: 5px;
					left: 5px;
					right: 5px;
					display: block;
					background-color: @color-green;
					text-align: center;
					color: @color-white;
					line-height: 30px;
					font-size: 16px;
					border-radius: 3px;
					white-space: nowrap;
					cursor: pointer;
				}
			}

			.dg-o-w-authorized {
				display: none;
			}
			.dg-o-w-anonymous {
				display: block;
			}

			&.dg-o-w-authorized {

				.dg-side-widget-content.dg-o-w-authorized .dg-side-section {
					cursor: pointer;
				}

				.dg-o-w-authorized {
					display: block;
				}
				.dg-o-w-anonymous {
					display: none;
				}
			}

			&.dg-side-widget-expanded {
				width: @dg-side-widget-expanded-width;

				.dg-side-widget-content {
					text-align: left;

					.dg-side-section {
						.dg-side-img-holder {
							right: 55px;
						}
						.dg-side-content {
							transform: translateX(0);
						}
					}
				}

				.dg-side-collapsed {
					display: none;
				}

				.dg-side-expanded {
					display: block;
				}
			}
		}
	}
}