@dg-widget-overlay-widget-height: 510px;
@dg-widget-overlay-header-height: 80px;
@dg-widget-overlay-submenu-height: 50px;
@dg-widget-overlay-footer-height: 100px;
@dg-widget-overlay-activities-slider-height: 145px;

//side widget sizes
@dg-side-widget-collapsed-width: 90px;
@dg-side-widget-expanded-width: 200px;

// colors
@color-default: #999999;
@color-white: #ffffff;
@color-brand: #00309b;
@color-brand-lighter: #0049b2;
@color-brand-light: lighten(@color-brand, 40%);
@color-brand-light-custom: #e6ebf6;
@color-brand-dark: darken(@color-brand, 10%);
@color-gold: #dba218;
@color-green: #9ec64e;
@color-red: #a1191e;
@color-error: #ba171a;
@color-grey-light: #ededed;
@color-grey-dark: #808080;
@color-grey-darkest: #323232;

// images
@brand-logo-white: url('../dist/imgs/everton-crest-white.svg');
@brand-logo-bg: url('../dist/imgs/everton-crest.png');
@brand-landing-bg: url('../dist/imgs/landing_bg.png');

// misc
.dg-o-w-element-shadow {box-shadow: 1px 0 3px rgba(0,0,0,.1);}
