@dg-widget-overlay-widget-height: 600px;
@dg-widget-overlay-header-height: 80px;
@dg-widget-overlay-submenu-height: 50px;
@dg-widget-overlay-footer-height: 100px;
@dg-widget-overlay-activities-slider-height: 145px;

//side widget sizes
@dg-side-widget-collapsed-width: 90px;

// colors
@color-default: #aaaaaa;
@color-white: #ffffff;
@color-brand: #00369c;
@color-brand-light: lighten(@color-brand, 50%);
@color-brand-light-custom: #e6ebf6;
@color-brand-dark: darken(@color-brand, 10%);
@color-gold: #dba218;
@color-green: #7cdb40;
@color-red: #a1191e;
@color-error: #ba171a;
@color-grey-light: #bababa;
@color-grey-dark: #666666;
@color-grey-darkest: #333333;

// images
@brand-logo-bg: url("./imgs/everton-crest.png");

