@import '../variables.scss';
.draw-exit {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & > * {
    text-align: center;
  }
}
.big-image {
  margin: 15px;
  background: $color-grey;
  height: 300px;
  line-height: 300px;
}
