<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EARN</title>

    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="dg-o-w">
    <div id="dg-o-w-wrapper">
        <div class="dg-o-w-overlay">
            <div class="dg-o-w-body">
                <div class="dg-o-w-header">
                    <div class="dg-o-w-logo">
                        <img src="../imgs/everton-logo.jpg" alt="Club Logo" />
                    </div>

                    <div class="dg-o-w-menu">
                        <ul>
                            <li class="dg-o-w-active">Earn</li>
                            <li>Draws & Games</li>
                            <li>Activities</li>
                        </ul>
                    </div>

                    <div class="dg-o-w-menu-profile">
                        <div class="authorized profile-menu-item">
                            <img src="http://lorempixel.com/100/100/cats" />
                            <div>
                                <h4>Edward</h4>
                                <p><span id="dg-o-w-points">25</span> points | <span id="dg-o-w-credits">115.25</span> credits</p>
                            </div>
                        </div>
                        <div class="profile-menu-item">
<!--dasdasd-->
                        </div>
                    </div>
                </div>
                <div class="dg-o-w-content">

                    <!-- Login screen -->
                    <!--<div class="dg-o-w-section dg-o-w-section-login"></div>-->
                    <!-- Login screen end -->

                    <!-- Offers screen -->
                    <div class="dg-o-w-section dg-o-w-section-profile">
                        <div class="dg-o-w-profile">
                            <div class="dg-o-w-left-side">
                                <div class="dg-o-w-image-holder">
                                    <img src="http://lorempixel.com/500/500/cats" />
                                </div>
                                <p><span>15</span> friends</p>
                            </div>
                            <div class="dg-o-w-right-side">
                                <div class="dg-o-w-profile-top">
                                    <div class="dg-o-w-float-left">
                                        <h3>Captain Deadpool</h3>
                                        <h5>2 badges</h5>
                                    </div>
                                    <div class="dg-o-w-float-right">
                                        <div class="dg-o-w-profile-points">
                                            <h3>115</h3>
                                            <h5>20</h5>
                                        </div>
                                        <div class="dg-o-w-profile-credits">
                                            <h3>215.20</h3>
                                            <h5>25.15</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="dg-o-w-profile-earnings-info">

                                    <p class="color-brand-light">Today earned: <span>15</span> pts | left: <span>5</span>pts</p>

                                    <p>Get +10 additional points by adding your other accounts from
                                        <a href="#" class="facebook">f</a> and <a href="#" class="twitter">t</a></p>

                                </div>
                                <div class="dg-o-w-profile-progress">
                                    <div style="width:35%;"></div>
                                </div>
                                <div class="dg-o-w-profile-bottom">
                                    <div class="dg-o-w-profile-invite dg-o-w-float-left">
                                        <p class="color-brand-light"><a href="#" class="btn-dg-o-w-outline">Invite more friends</a>
                                        and get <span>+50</span> points for each friend</p>
                                    </div>
                                    <div class="dg-o-w-profile-signout dg-o-w-float-right">
                                        <p class="color-brand-light"><a href="#">Sign out</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dg-o-w-section-content">
                            <h3>Badges</h3>

                            <div class="dg-o-w-badges-holder">
                                <ul>
                                    <li><a href="#">
                                        <img src="http://members.scouts.org.uk/images/badges/ex-as-mosp.png" alt=""/>
                                        <p>Cool badge</p>
                                    </a></li>
                                    <li><a href="#">
                                        <img src="http://members.scouts.org.uk/images/badges/ex-as-mosp.png" alt=""/>
                                        <p>Cool badge</p>
                                    </a></li>
                                    <li><a href="#">
                                        <img src="http://members.scouts.org.uk/images/badges/ex-as-mosp.png" alt=""/>
                                        <p>Cool badge</p>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Offers screen end -->


                </div>
                <div class="dg-o-w-close">&times;</div>
            </div>
        </div>
    </div>
</div>

<script src="../js/overlay-widget.js"></script>
</body>
</html>