<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EARN</title>

    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="dg-o-w">
    <div id="dg-o-w-wrapper">
        <div class="dg-o-w-overlay">
            <div class="dg-o-w-body">
                <div class="dg-o-w-header">
                    <div class="dg-o-w-logo">
                        <img src="../imgs/everton-logo.jpg" alt="Club Logo" />
                    </div>

                    <div class="dg-o-w-menu">
                        <ul>
                            <li class="dg-o-w-active">Earn</li>
                            <li>Draws & Games</li>
                            <li>Activities</li>
                        </ul>
                    </div>

                    <div class="dg-o-w-menu-profile">
                        <div class="authorized profile-menu-item">
                            <img src="http://lorempixel.com/100/100/cats" />
                            <div>
                                <h4>Edward</h4>
                                <p><span id="dg-o-w-points">25</span> points | <span id="dg-o-w-credits">115.25</span> credits</p>
                            </div>
                        </div>
                        <div class="profile-menu-item">
<!--dasdasd-->
                        </div>
                    </div>
                </div>
                <div class="dg-o-w-content">

                    <div class="dg-o-w-section">

                        <div class="dg-o-w-submenu">

                            <ul>
                                <li class="toggle-section-height"><div></div></li>
                                <li class="dg-o-w-active">Leaderboard</li>
                            </ul>
                        </div>

                        <div class="dg-o-w-activities">


                            <div class="dg-o-w-activity-slider-holder">
                                <div class="dg-o-w-activity-slider-controls">
                                    <div class="dg-o-w-activity-slider-prev"><</div>
                                    <div class="dg-o-w-activity-slider-next">></div>
                                </div>
                                <div class="dg-o-w-activity-slider">
                                <ul>
                                    <li>
                                        <div><img src="../imgs/avatars/p1.jpg"><span>115</span></div>
                                        <h4>Harry Potter</h4>
                                    </li>
                                    <li>
                                        <div><img src="../imgs/avatars/p2.jpg"><span>105</span></div>
                                        <h4>Ron Weesly</h4>
                                    </li>
                                    <li>
                                        <div><img src="../imgs/avatars/p3.jpg"><span>98</span></div>
                                        <h4>Hermione Greindger</h4>
                                    </li>
                                    <li>
                                        <div><img src="../imgs/avatars/p4.jpg"><span>90</span></div>
                                        <h4>Albus Dambldor</h4>
                                    </li>
                                    <li>
                                        <div><img src="../imgs/avatars/p5.jpg"><span>86</span></div>
                                        <h4>Severus Snape</h4>
                                    </li>
                                    <li>
                                        <div><img src="../imgs/avatars/p6.jpg"><span>55</span></div>
                                        <h4>Tom Raddle</h4>
                                    </li>
                                    <li>
                                        <div><img src="../imgs/avatars/p7.jpg"><span>43</span></div>
                                        <h4>Headless Joe</h4>
                                    </li>
                                    <li>
                                        <div><img src="../imgs/avatars/p8.jpg"><span>28</span></div>
                                        <h4>Drako Malfoy</h4>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>



                        <div class="dg-o-w-section-content dg-o-w-submenu-activities">
                            <div class="dg-o-w-activities-header">
                                <p class="dg-o-w-float-left">Activities for today</p>
                                <p class="dg-o-w-floating-link"><a href="#">Invite more friends</a> and get +50 points for each</p>
                                <select class="dg-o-w-float-right">
                                    <option>All activities</option>
                                </select>
                            </div>

                            <div class="dg-o-w-activities-holder">
                                <ul>
                                    <li>
                                        <div class="dg-o-w-single-activity">
                                            <img src="../imgs/avatars/p5.jpg" alt=""/>
                                            <div>
                                                <p>Jason Born <a href="#">made cool stuff</a> and earned 20 points</p>
                                            </div>
                                        </div>
                                        <h6>5 minutes ago</h6>
                                    </li>
                                    <li>
                                        <div class="dg-o-w-single-activity">
                                            <img src="../imgs/avatars/p5.jpg" alt=""/>
                                            <div>
                                                <p>Jason Born <a href="#">made cool stuff</a> and earned 20 points</p>
                                            </div>
                                        </div>
                                        <h6>5 minutes ago</h6>
                                    </li>
                                    <li>
                                        <div class="dg-o-w-single-activity">
                                            <img src="../imgs/avatars/p5.jpg" alt=""/>
                                            <div>
                                                <p>Jason Born <a href="#">made cool stuff</a> and earned 20 points</p>
                                            </div>
                                        </div>
                                        <h6>5 minutes ago</h6>
                                    </li>
                                    <li>
                                        <div class="dg-o-w-single-activity">
                                            <img src="../imgs/avatars/p5.jpg" alt=""/>
                                            <div>
                                                <p>Jason Born <a href="#">made cool stuff</a> and earned 20 points</p>
                                            </div>
                                        </div>
                                        <h6>5 minutes ago</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>



                </div>
                <div class="dg-o-w-close">&times;</div>
            </div>
        </div>
    </div>
</div>

<script src="../js/vanilla-slider.js"></script>

<script>
        var slider = new Slider('.dg-o-w-activity-slider', {
            visibles: 5,
            controlNext: '.dg-o-w-activity-slider-next',
            controlPrev: '.dg-o-w-activity-slider-prev'
        });
</script>

</body>
</html>