<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DRAWS</title>

    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="dg-o-w">
    <div id="dg-o-w-wrapper">
        <div class="dg-o-w-overlay">
            <div class="dg-o-w-body">
                <div class="dg-o-w-header">
                    <div class="dg-o-w-logo">
                        <img src="../imgs/everton-logo.jpg" alt="Club Logo" />
                    </div>

                    <div class="dg-o-w-menu">
                        <ul>
                            <li>Earn</li>
                            <li class="dg-o-w-active">Draws & Games</li>
                            <li>Activities</li>
                        </ul>
                    </div>

                    <div class="dg-o-w-menu-profile">
                        <div class="authorized profile-menu-item">
                            <img src="http://lorempixel.com/100/100/cats" />
                            <div>
                                <h4>Edward</h4>
                                <p><span id="dg-o-w-points">25</span> points | <span id="dg-o-w-credits">115.25</span> credits</p>
                            </div>
                        </div>
                        <div class="profile-menu-item">
<!--dasdasd-->
                        </div>
                    </div>
                </div>
                <div class="dg-o-w-content">

                    <!-- Login screen -->
                    <!--<div class="dg-o-w-section dg-o-w-section-login"></div>-->
                    <!-- Login screen end -->

                    <!-- Offers screen -->
                    <div class="dg-o-w-section dg-o-w-section-draws">
                        <div class="dg-o-w-submenu">
                            <ul>
                                <li>&lt; Back</li>
                            </ul>
                            <div class="right-side">
                                You have 79 points | Minimum bet is 10
                            </div>
                        </div>
                        <div class="dg-o-w-section-content dg-o-w-submenu-exist">
                            <div class="dg-o-w-single-draw">
                                <div class="dg-o-w-draw-left-side">
                                    <div class="prize-image">
                                        <div>
                                            <img src="http://lorempixel.com/500/900/cats" />
                                        </div>
                                    </div>
                                </div>
                                <div class="dg-o-w-draw-right-side">
                                    <h2 class="dg-o-w-countdown">00d:23h:14m:26s</h2>
                                    <h5>Adorable cats that will jump right into your hands</h5>
                                    <p>Some very cool description, about this funny prize, how it looks like,
                                        how it smells, what's the best way to use it and any other, still very important,
                                        but only additional information</p>
                                    <div class="dg-o-w-draw-bet-info">
                                        <div class="dg-o-w-your-bet">You've bet <span>15</span> points</div>
                                        <div class="dg-o-w-users-done">
                                            <div>
                                                <img src="http://lorempixel.com/70/70/people/1" />
                                                <img src="http://lorempixel.com/70/70/people/2" />
                                                <img src="http://lorempixel.com/70/70/people/3" />
                                            </div>
                                            <p>10 users have done this</p>
                                        </div>
                                    </div>
                                    <div class="dg-o-w-draw-bet-action">
                                        <h5>How much do you want to bet?</h5>

                                        <form class="dg-o-w-one-field-form">
                                            <input type="number" min="10" max="1000" placeholder="10 points"/>
                                            <input type="submit" value="Bet points" />
                                            <p class="dg-o-w-form-message">something has happened</p>
                                        </form>

                                        <div class="btn-dg-o-w-outline">Get additional points</div>
                                    </div>
                                    <div class="dg-o-w-draw-share">
                                        <a href="#" class="dg-o-w-like dg-o-w-facebook-like">Like and get 10 points</a>
                                        <a href="#" class="dg-o-w-like dg-o-w-twitter-like">Tweet and get 10 points</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Offers screen end -->


                </div>
                <div class="dg-o-w-close">&times;</div>
            </div>
        </div>
    </div>
</div>


<script src="../js/overlay-widget.js"></script>
</body>
</html>