<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EARN</title>

    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="dg-o-w">
    <div id="dg-o-w-wrapper">
        <div class="dg-o-w-overlay">
            <div class="dg-o-w-body">
                <div class="dg-o-w-header">
                    <div class="dg-o-w-logo">
                        <img src="../imgs/everton-logo.jpg" alt="Club Logo" />
                    </div>

                    <div class="dg-o-w-menu">
                        <ul>
                            <li class="dg-o-w-active">Earn</li>
                            <li>Draws & Games</li>
                            <li>Activities</li>
                        </ul>
                    </div>

                    <div class="dg-o-w-menu-profile">
                        <div class="authorized profile-menu-item">
                            <img src="http://lorempixel.com/100/100/cats" />
                            <div>
                                <h4>Edward</h4>
                                <p><span id="dg-o-w-points">25</span> points | <span id="dg-o-w-credits">115.25</span> credits</p>
                            </div>
                        </div>
                        <div class="profile-menu-item">
<!--dasdasd-->
                        </div>
                    </div>
                </div>
                <div class="dg-o-w-content">

                    <!-- Login screen -->
                    <!--<div class="dg-o-w-section dg-o-w-section-login"></div>-->
                    <!-- Login screen end -->

                    <!-- Offers screen -->
                    <div class="dg-o-w-section dg-o-w-section-offers">
                        <div class="dg-o-w-submenu">
                            <ul>
                                <li class="dg-o-w-active">All</li>
                                <li>Share</li>
                                <li>Watch</li>
                                <li>Visit</li>
                                <li>Download</li>
                                <li>Invite</li>
                            </ul>
                            <select>
                                <option>All sponsors</option>
                                <option>Coca-Cola</option>
                                <option>Nike</option>
                                <option>Telco</option>
                            </select>
                        </div>
                        <div class="dg-o-w-section-content dg-o-w-submenu-exist anonymous">
                            <h3>Complete the tasks and earn +500 points today</h3>
                            <ul class="dg-o-w-list-offers">
                                <li>
                                    <a class="dg-o-w-offer" href="#">
                                        <div class="dg-o-w-offer-left">
                                            <img src="http://lorempixel.com/100/100/sports" />
                                            <span>30</span>
                                        </div>
                                        <div class="dg-o-w-offer-right">
                                            <h4>Share on Facebook</h4>
                                            <h5>Some amazing offer, best one you only could imagine</h5>
                                            <div class="dg-o-w-users-done">
                                                <div>
                                                    <img src="http://lorempixel.com/70/70/people/1" />
                                                    <img src="http://lorempixel.com/70/70/people/2" />
                                                    <img src="http://lorempixel.com/70/70/people/3" />
                                                </div>
                                                <p>10 users have done this</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>

                        </div>
                        <footer class="dg-o-w-footer-login"></footer>
                    </div>
                    <!-- Offers screen end -->


                </div>
                <div class="dg-o-w-close">&times;</div>
            </div>
        </div>
    </div>
</div>

<script src="../js/overlay-widget.js"></script>
</body>
</html>