<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DRAWS</title>

    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="dg-o-w">
    <div id="dg-o-w-wrapper">
        <div class="dg-o-w-overlay">
            <div class="dg-o-w-body">
                <div class="dg-o-w-header">
                    <div class="dg-o-w-logo">
                        <img src="../imgs/everton-logo.jpg" alt="Club Logo" />
                    </div>

                    <div class="dg-o-w-menu">
                        <ul>
                            <li>Earn</li>
                            <li class="dg-o-w-active">Draws & Games</li>
                            <li>Activities</li>
                        </ul>
                    </div>

                    <div class="dg-o-w-menu-profile">
                        <div class="authorized profile-menu-item">
                            <img src="http://lorempixel.com/100/100/cats" />
                            <div>
                                <h4>Edward</h4>
                                <p><span id="dg-o-w-points">25</span> points | <span id="dg-o-w-credits">115.25</span> credits</p>
                            </div>
                        </div>
                        <div class="profile-menu-item">
<!--dasdasd-->
                        </div>
                    </div>
                </div>
                <div class="dg-o-w-content">

                    <!-- Login screen -->
                    <!--<div class="dg-o-w-section dg-o-w-section-login"></div>-->
                    <!-- Login screen end -->

                    <!-- Offers screen -->
                    <div class="dg-o-w-section dg-o-w-section-draws">
                        <div class="dg-o-w-submenu">
                            <ul>
                                <li class="dg-o-w-active">All draws</li>
                                <li>Finished soon</li>
                                <li>My draws</li>
                                <li>Games</li>
                            </ul>
                            <label class="checkbox-slider">Show finished draws
                                <input type="checkbox" class="ios-switch bigswitch" /><div><div></div></div>
                            </label>
                        </div>
                        <div class="dg-o-w-section-content dg-o-w-submenu-exist anonymous">
                            <h3>Available draws</h3>
                            <ul class="dg-o-w-list-draws">
                                <li>
                                    <div class="dg-o-w-draw">
                                        <img src="http://lorempixel.com/400/500/abstract/5" />
                                        <div class="dg-o-w-draw-text">
                                            <h2 class="dg-o-w-draw-countdown">01d:12h:23m:15s</h2>
                                            <p>This is a description for such cool prize and great draw etc.. etc..</p>
                                        </div>

                                        <div class="dg-o-w-draw-bet">You've bet: <span>130</span> points</div>
                                        <div class="dg-o-w-draw-connections"><span>2</span> of your friends</div>
                                    </div>
                                </li>
                                <li class="won">
                                    <div class="dg-o-w-draw">
                                        <img src="http://lorempixel.com/400/500/abstract/3" />

                                        <div class="dg-o-w-draw-text dg-o-w-draw-text-won">
                                            <h2>Congratulations!<br/>You've won this draw!</h2>
                                        </div>
                                    </div>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>

                        </div>
                        <footer class="dg-o-w-footer-login"></footer>
                    </div>
                    <!-- Offers screen end -->


                </div>
                <div class="dg-o-w-close">&times;</div>
            </div>
        </div>
    </div>
</div>


<script src="../js/overlay-widget.js"></script>
</body>
</html>