<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EARN</title>

    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="dg-o-w">
    <div id="dg-o-w-wrapper">
        <div class="dg-o-w-overlay">
            <div class="dg-o-w-body">
                <div class="dg-o-w-header">
                    <div class="dg-o-w-logo">
                        <img src="../imgs/everton-logo.jpg" alt="Club Logo" />
                    </div>

                    <div class="dg-o-w-menu">
                        <ul>
                            <li class="dg-o-w-active">Earn</li>
                            <li>Draws & Games</li>
                            <li>Activities</li>
                        </ul>
                    </div>

                    <div class="dg-o-w-menu-profile">
                        <div class="authorized profile-menu-item">
                            <img src="http://lorempixel.com/100/100/cats" />
                            <div>
                                <h4>Edward</h4>
                                <p><span id="dg-o-w-points">25</span> points | <span id="dg-o-w-credits">115.25</span> credits</p>
                            </div>
                        </div>
                        <div class="profile-menu-item">
<!--dasdasd-->
                        </div>
                    </div>
                </div>
                <div class="dg-o-w-content">

                    <!-- Login screen -->
                    <!--<div class="dg-o-w-section dg-o-w-section-login"></div>-->
                    <!-- Login screen end -->

                    <!-- Offers screen -->
                    <div class="dg-o-w-section dg-o-w-section-offers">

                        <footer class="dg-o-w-footer-login">

                            <!--
                            <div class="footer-section">
                                <div class="inline-part">
                                    <h3>Log in with Facebook and get +10 points</h3>
                                </div>
                                <div class="inline-part"><a href="#" class="btn-radius btn-large btn-brand">Facebook</a></div>
                                <div class="inline-part"><p>or</p></div>
                                <div class="inline-part"><a href="#" class="btn-radius btn-large btn-white">Sign up with email</a></div>
                            </div>
                            -->

                            <div class="footer-section">
                                <a href="#" class="btn-back-footer">&larr; Back</a>
                                <form>
                                    <div class="inline-part">
                                        <label>Name
                                            <input type="text" placeholder="First Name" />
                                        </label>
                                    </div>
                                    <div class="inline-part">
                                        <label>Email
                                            <input type="email" placeholder="mail@mail.com" />
                                        </label>
                                    </div>
                                    <div class="inline-part">
                                        <label>Password
                                            <input type="password" />
                                        </label>
                                    </div>
                                    <div class="inline-part">
                                        <label>&nbsp;
                                            <input class="btn-dg-o-w-outline" type="submit" value="Sign Up" />
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </footer>
                    </div>
                    <!-- Offers screen end -->


                </div>
                <div class="dg-o-w-close">&times;</div>
            </div>
        </div>
    </div>
</div>

<script src="../js/overlay-widget.js"></script>
</body>
</html>