<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EARN</title>

    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="dg-o-w">
    <div id="dg-o-w-wrapper">
        <div class="dg-o-w-overlay">
            <div class="dg-o-w-body">
                <div class="dg-o-w-header">
                    <div class="dg-o-w-logo">
                        <img src="../imgs/everton-logo.jpg" alt="Club Logo" />
                    </div>

                    <div class="dg-o-w-menu">
                        <ul>
                            <li class="dg-o-w-active">Earn</li>
                            <li>Draws & Games</li>
                            <li>Activities</li>
                        </ul>
                    </div>

                    <div class="dg-o-w-menu-profile">
                        <div class="profile-menu-item">
                            <img src="http://lorempixel.com/100/100/cats" />
                            <div>
                                <h4>Hello, guest!</h4>
                                <div class="dg-o-w-login-dropdown"> <!-- add class "shown" -->
                                    <a href="#">Log in by email</a>
                                    <div class="dg-o-w-email-login-form">
                                        <form>
                                            <label>Email
                                                <input type="email" placeholder="mail@mail.com" />
                                            </label>
                                            <label>Password
                                                <input type="password" />
                                            </label>
                                            <input type="submit" value="Sign In" />

                                            <a href="#" class="">Forgot your password?</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-menu-item">
<!--dasdasd-->
                        </div>
                    </div>
                </div>
                <div class="dg-o-w-content">

                    <!-- Offers screen -->
                    <div class="dg-o-w-section dg-o-w-section-login">
                        <div class="dg-o-w-login">
                            <div class="dg-o-w-left-side">
                                <div class="dg-o-w-image-holder">
                                    <img src="../imgs/kevin-mirallas.png" />
                                </div>
                            </div>
                            <div class="dg-o-w-right-side">
                                <h1>Win exclusive prizes handling simple tasks</h1>

                                <a href="#" class="btn-radius btn-large btn-brand-3d">Join now</a>

                                <div class="dg-o-w-login-winners">
                                    <img src="http://lorempixel.com/100/100/cats" />
                                    <div>
                                        <h4>Daniel won a signed t-shirt!</h4>
                                        <h5>Sign up and get your own prize now</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <footer class="dg-o-w-footer-login">

                            <div class="footer-section">
                                <div class="inline-part">
                                    <h3>Log in with Facebook and get +10 points</h3>
                                </div>
                                <div class="inline-part"><a href="#" class="btn-radius btn-large btn-brand-3d">Facebook</a></div>
                                <div class="inline-part"><p>or</p></div>
                                <div class="inline-part"><a href="#" class="btn-radius btn-large btn-white">Sign up with email</a></div>
                            </div>

                        </footer>
                    </div>
                    <!-- Offers screen end -->


                </div>
                <div class="dg-o-w-close">&times;</div>
            </div>
        </div>
    </div>
</div>

<script src="../js/overlay-widget.js"></script>
</body>
</html>