@import '../variables.scss';
@import '../utils.scss';


.header {
  position: fixed;
  left: 0; right: 0;
  top: 0;
  height: $header-h;
  display: flex;
  justify-content: space-between;
  background-color: $brand-color;
}

.nav-button {
  width: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  position: absolute;
  left: 6.8rem; right: 6.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.7rem;
  pointer-events: none;

  h2 {
    @mixin ellipsis;
  }
}

.header-points {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

.icon-menu {
  width: 2.2rem;
}

.icon-points {
  width: 1.8rem;
  margin-right: 0.8rem;
}

/*
Header overlay - somewhat hacky way to change title/menu btn
*/
.header.header-overlay {
  background: transparent;

  & > * {
    background-color: $brand-color;
  }

  $back-btn-w: 8rem;
  .header-title.with-btn {
    left: $back-btn-w;
    right: $back-btn-w;
  }

  .nav-button {
    width: $back-btn-w;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transform: rotate(180deg);
      margin-right: 5px;
    }
  }
}
