@import '../variables.scss';

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  height: $header-height;
  border-bottom: 1px solid rgba(0, 0, 0, .33);
  background: #fff;
  justify-content: space-between;
}

.nav-button {
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  flex-grow: 1;
  line-height: $header-height;
  text-align: center;
  font-size: 2.1rem;
  position: absolute;
  left: 104px;
  right: 104px;
  text-align: center;
  pointer-events: none;
}

.header-points {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.icon-menu {
  width: 22px;
}

.icon-points {
  width: 18px;
  margin-right: 8px;
}