@import '../variables.scss';
@import '../utils.scss';

$title-pad: 6.8rem;
.header {
  position: fixed;
  left: 0; right: 0;
  top: 0;
  height: $header-h;
  display: flex;
  justify-content: space-between;
  background-color: $brand-color;
}

.nav-button {
  width: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  position: absolute;
  left: $title-pad; right: $title-pad;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.7rem;
  pointer-events: none;

  h2 {
    @mixin ellipsis;
  }
}

.header-points {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;

  &.is-hidden {
    visibility: hidden;
  }
}

.icon-menu {
  width: 2.2rem;
}

.icon-points {
  width: 1.8rem;
  margin-right: 0.8rem;
}

/*
Header overlay - somewhat hacky way to change title/menu btn
*/
.header.header-overlay {
  left: $title-pad; right: $title-pad;
  background: transparent;

  & > * {
    background-color: $brand-color;
  }

  .header-title {
    left: 0; right: 0;
  }

  $back-btn-w: 8rem;
  .nav-button {
    width: $back-btn-w;
    margin-left: -7rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 8px;
      height: 14px;
      margin-right: 5px;
    }

    &.right {
      margin-right: -7rem;
      color: $brand-color-dark;
    }
  }
}
