@import '../variables.scss';

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  background-color: var(--brand-color);
}

.nav-button {
  width: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 1.7rem;
  position: absolute;
  left: 5.2rem;
  right: 5.2rem;
  text-align: center;
  pointer-events: none;
}

.header-points {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

.icon-menu {
  width: 2.2rem;
}

.icon-points {
  width: 1.8rem;
  margin-right: 0.8rem;
}
