@import '../variables.scss';
.menu {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: rgba(0,0,0,.4);
  transition: background .3s ease;
  pointer-events: all;

  &.is-hidden {
    pointer-events: none;
    background: rgba(0,0,0,0);

    .menu-panel {
      transform: translateX(-100%);
    }
  }
}
.menu-panel {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 70px;
  background: #fff;
  transform: translateX(0);
  transition: transform .3s ease;

  .menu-header {
    height: 100px;
    background: $brand-color;
    margin-bottom: 2rem;
  }

  a.menu-item {
    height: 75px;
    font-size: 1.9rem;
    color: $brand-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:active {
      background: #e6e7e8;
    }
  }
}

.icon-menu-item {
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 22px;
  }
  .menu-item-draws & {
    margin-top: -5px;
  }
}