@import '../variables.scss';

.menu {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: rgba(0,0,0,.4);
  transition: background .3s ease;
  pointer-events: all;

  &.is-hidden {
    pointer-events: none;
    background: rgba(0,0,0,0);

    .menu-panel {
      transform: translateX(-100%);
    }
  }
}
.menu-panel {
  position: absolute;
  z-index: 1;
  top: 0; bottom: 0;
  left: 0; right: 7rem;
  background: var(--brand-color);
  transform: translateX(0);
  transition: transform .3s ease;

  .menu-header {
    height: 10rem;
    background: var(--color-3);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
  }
  .user-picture {
    width: 6.8rem;
    height: 6.8rem;
    margin-right: 1rem;
    border-radius: 50%;
    overflow: hidden;
  }

  a.menu-item {
    height: 6.5rem;
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:active {
      background: var(--brand-color-dark);
    }
  }
}

.icon-menu-item {
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 2.3rem;
  }
  .menu-item-draws & {
    margin-top: -0.5rem;
  }
}

.user-info {

}

.user-name {
  color: $contrast-color;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.user-stats {
  font-size: 1rem;
  color: rgba(214, 231, 221, 1); /* create a variable instead and use mixin. set alpha channel as a parameter */
  flex-grow: 1;
  display: flex;
}

.user-stats-pending {
  color: rgba(214, 231, 221, .5);
}

.separator {
  padding: 0 0.3rem;
  color: rgba(214, 231, 221, .25);
}
